<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>

<!-- display logos for snolab, pnnl, and radiopurity -->
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/pnnl_logo.png') }}"/>
</div>
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/radiopurity_logo.png') }}"/>
</div>
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/snolab_logo.png') }}"/>
</div>

<!-- documentation link -->
<div>
    <a class="normal-text github-link" href="{{ url_for('static', filename='docs/html/index.html') }}" target="_blank">documentation</a>
</div>
<div class="clear-float"></div>

<!-- github link -->
<div>
    <a class="github-link" href="https://github.com/pnnl/Radiopurity-database-assistant" target="_blank" rel="noopener noreferrer">
        <img class="github-logo" src="{{ url_for('static', filename='logos/github_logo.png') }}" alt="GitHub logo">
    </a>
</div>
<div class="clear-float"></div>

<!-- links to other pages on the site -->                                             
<div>                                                                                 
    <a href="{{ url_for('about_endpoint') }}"><button class="logout-link">about</button></a>
    <a href="{{ url_for('simplesearch_endpoint') }}"><button class="pages">search</button></a>
    <a href="{{ url_for('xia_insert_endpoint') }}"><button class="pages">insert</button></a>   
    <a href="{{ url_for('update_endpoint') }}"><button class="pages">update</button></a>
    <a href="{{ url_for('logout') }}"><button class="logout-link">logout</button></a> 
</div>

<h1>About</h1>
<p class="normal-text"></p>
<p class="normal-text">View the <a href="https://github.com/pnnl/Radiopurity-database-assistant" target="_blank" rel="noopener noreferrer">open source code</a> for this project.</p>

<h3>Instructions</h3>
<p class="normal-text"><b>Search</b> - To use the search page, simply enter a value that you would like to search for. This search will return all documents from the database that contain the search value.</p>
<p class="normal-text">The fields within a document that can be searched for are Sample, Sample material, and Experiment. Multiple entries can be searched for by comma-separating the entries. </p>
<p class="normal-text">Alternatively, all documents in the database can be viewed by entering an empty search.</p>
<br>

<p class="normal-text"><b>Insert</b> - To use the insert page, simply drag and drop a data file onto the drop area, or click on the drop area to browse your files.</p>
<p class="normal-text">Expected format of data files:</br>The data files will be automatically converted to JSON files that can be inserted into the database if the following requirements are met:</p>
<ol class="normal-text">
	<li>The header information begins the line after the line containing "CONFLUENCE"</li>
	<li>In the table containing the measurement data, the fields are separated by '^'</li>
	<li>The measurement values begin the line immediately after the line with the fields (e.g. "Alpha Counts", "Energy Range (MeV)", etc.)</li>
	<li>The measurement values within table rows are separated by '|'</li>
	<li>The corrected data comes after, but not necessarily immediately after, the line containing "Corrected"</li>
</ol>

<p class="normal-text"></br><b>Update</b> - To use the update page, first find the id of the document to be updated. This should be displayed along with the other contents of the document when found in <b>search</b>.</p>
<p class="normal-text">Once this document has been found, you will be able to edit or remove each individual field in header information and measurement values. Once the desired changes have been made, click the </b>update doc</b> button at the bottom of the page. There is also a button to remove the entire document if one wants to remove the entire measurement or replace it with a later updated insert. </p>

<p class="normal-text"></br><b>Login/logout</b> - Login credentials are required to use any of the search, insert, or update features.</br></p>

<h3>Data</h3>
<p class="normal-text"></p>

<h3>Collaboration</h3>
<p class="normal-text"></p>

<h3>Citation</h3>
<p class="normal-text">The publication for the original radiopurity database can be found <a href="https://arxiv.org/abs/1604.06169" target="_blank">here</a> and cited as:</p>
<p class="info">J.C. Loach et al., A Database for Storing the Results of Material Radiopurity Measurements, Nucl. Instr. Meth. A 839 (2016).</p>

<h3>Acknowledgements</h3>
<p class="normal-text"></p>

</body>
</html>

