<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript_funcs.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>

<!-- display logos for snolab, pnnl, and radiopurity -->
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/pnnl_logo.png') }}"/>
</div>
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/radiopurity_logo.png') }}"/>
</div>
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/snolab_logo.png') }}"/>
</div>

<div>
    <a href="{{ url_for('logout') }}">
        <p class="logout-link">logout</p>
    </a>
</div>

<h1>Insertion Assistant</h1>

<!--<h3>documents are inserted into the {{db_name}} database</h3>-->

{% if new_doc_msg|length > 0 %}
    <div class="section-container">
        <h3>{{new_doc_msg}}</h3>
    </div>
{% endif %}

<form name="new_record_vals" action="{{ url_for('insert_endpoint') }}" method="POST">
    <div class="section-container">
        <div id="input-section">
            <div>
                <span>
                    <p class="normal-text">experiment name or similar: <input type="text" name="grouping"></p>
                </span>
            </div>

            <h3>sample:</h3>
            <div>
                <span>
                    <p class="normal-text">concise sample description: <input type="text" name="sample.name"></p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">detailed sample description: <input type="text" name="sample.description"></p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">where the sample came from: <input type="text" name="sample.source"></p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">sample identification number: <input type="text" name="sample.id"></p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">name of the person/people who own the sample: <input type="text" name="sample.owner.name"></p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">email or telephone of the person/people who own the sample: <input type="text" name="sample.owner.contact"></p>
                </span>
            </div>

            <h3>data source</h3>
            <div>
                <span>
                    <p class="normal-text">reference for where the data came from: <input type="text" name="data_source.reference"></p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">name of the person/people who performed data input (required): <input type="text" required name="data_source.input.name"></p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">email or telephone of the person/people who performed data input: <input type="text" name="data_source.input.contact"></p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">data input date(s): <input type="text" name="data_source.input.date"></p>
                </span>
                <span>
                    <p class="info">help: strings for dates of input (can be a range or a single date). NOTE: if entering a date range, separate date strings with a space.</p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">data input notes (simplifications, assumptions): <input type="text" name="data_source.input.notes"></p>
                </span>
            </div>

            <h3>measurement</h3>
            <div>
                <span>
                    <p class="normal-text">name of the person/people who did the measurement: <input type="text" name="measurement.practitioner.name"></p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">email or telephone of the person/people who did the measurement: <input type="text" name="measurement.practitioner.contact"></p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">measurement technique: <input type="text" name="measurement.technique"></p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">institution name: <input type="text" name="measurement.institution"></p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">measurement date(s): <input type="text" name="measurement.date"></p>
                </span>
                <span>
                    <p class="info">help: strings for dates of measurement (can be a range or a single date). NOTE: if entering a date range, separate date strings with a space.</p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">detailed measurement description: <input type="text" name="measurement.description"></p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">name of the person/people who coordinated the measurement: <input type="text" name="measurement.requestor.name"></p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">email or telephone of the person/people who coordinated the measurement: <input type="text" name="measurement.requestor.contact"></p>
                </span>
            </div>

            <h3>measurement results</h3>
            <h5>result</h5>
            <div>
                <span>
                    <p class="normal-text">isotope: <input type="text" name="measurement.results.isotope1" onKeyup="validateForm()"></p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">measurement type: 
                        <select name="measurement.results.type1">
                            <option value="measurement">measurement</option>
                            <option value="limit">limit</option>
                            <option value="range">range</option>
                        </select>
                    </p>
                </span>
            </div>
            <div>
                <span>
                    <p class="normal-text">units: 
                        <select name="measurement.results.unit1">
                            <option value="pct">percent by mass</option>
                            <option value="g/g">g/g</option>
                            <option value="ppm">ppm</option>
                            <option value="ppb">ppb</option>
                            <option value="ppt">ppt</option>
                            <option value="ppq">ppq (quadrillion)</option>
                            <option value="g">g</option>
                            <option value="mg">mg</option>
                            <option value="ug">ug (micrograms)</option>
                            <option value="ng">ng</option>
                            <option value="pg">pg</option>
                            <option value="Bq">Bq</option>
                            <option value="mBq">mBq</option>
                            <option value="uBq">uBq</option>
                            <option value="nBq">nBq</option>
                            <option value="pBq">pBq</option>

                            <option value="g/kg">g/kg</option>
                            <option value="g/cm">g/cm</option>
                            <option value="g/m">g/m</option>
                            <option value="g/cm2">g/cm2 (squared)</option>
                            <option value="g/m2">g/m2</option>
                            <option value="g/cm3">g/cm3 (cubed)</option>
                            <option value="g/m3">g/m3</option>

                            <option value="mg/kg">mg/kg</option>
                            <option value="mg/cm">mg/cm</option>
                            <option value="mg/m">mg/m</option>
                            <option value="mg/cm2">mg/cm2 (squared)</option>
                            <option value="mg/m2">mg/m2</option>
                            <option value="mg/cm3">mg/cm3 (cubed)</option>
                            <option value="mg/m3">mg/m3</option>

                            <option value="ug/kg">ug/kg</option>
                            <option value="ug/cm">ug/cm</option>
                            <option value="ug/m">ug/m</option>
                            <option value="ug/cm2">ug/cm2 (squared)</option>
                            <option value="ug/m2">ug/m2</option>
                            <option value="ug/cm3">ug/cm3 (cubed)</option>
                            <option value="ug/m3">ug/m3</option>

                            <option value="ng/kg">ng/kg</option>
                            <option value="ng/cm">ng/cm</option>
                            <option value="ng/m">ng/m</option>
                            <option value="ng/cm2">ng/cm2 (squared)</option>
                            <option value="ng/m2">ng/m2</option>
                            <option value="ng/cm3">ng/cm3 (cubed)</option>
                            <option value="ng/m3">ng/m3</option>

                            <option value="pg/kg">pg/kg</option>
                            <option value="pg/cm">pg/cm</option>
                            <option value="pg/m">pg/m</option>
                            <option value="pg/cm2">pg/cm2 (squared)</option>
                            <option value="pg/m2">pg/m2</option>
                            <option value="pg/cm3">pg/cm3 (cubed)</option>
                            <option value="pg/m3">pg/m3</option>

                            <option value="Bq/kg">Bq/kg</option>
                            <option value="Bq/cm">Bq/cm</option>
                            <option value="Bq/m">Bq/m</option>
                            <option value="Bq/cm2">Bq/cm2 (squared)</option>
                            <option value="Bq/m2">Bq/m2</option>
                            <option value="Bq/cm3">Bq/cm3 (cubed)</option>
                            <option value="Bq/m3">Bq/m3</option>

                            <option value="mBq/kg">mBq/kg</option>
                            <option value="mBq/cm">mBq/cm</option>
                            <option value="mBq/m">mBq/m</option>
                            <option value="mBq/cm2">mBq/cm2 (squared)</option>
                            <option value="mBq/m2">mBq/m2</option>
                            <option value="mBq/cm3">mBq/cm3 (cubed)</option>
                            <option value="mBq/m3">mBq/m3</option>

                            <option value="uBq/kg">uBq/kg</option>
                            <option value="uBq/cm">uBq/cm</option>
                            <option value="uBq/m">uBq/m</option>
                            <option value="uBq/cm2">uBq/cm2 (squared)</option>
                            <option value="uBq/m2">uBq/m2</option>
                            <option value="uBq/cm3">uBq/cm3 (cubed)</option>
                            <option value="uBq/m3">uBq/m3</option>

                            <option value="nBq/kg">nBq/kg</option>
                            <option value="nBq/cm">nBq/cm</option>
                            <option value="nBq/m">nBq/m</option>
                            <option value="nBq/cm2">nBq/cm2 (squared)</option>
                            <option value="nBq/m2">nBq/m2</option>
                            <option value="nBq/cm3">nBq/cm3 (cubed)</option>
                            <option value="nBq/m3">nBq/m3</option>

                            <option value="pBq/kg">pBq/kg</option>
                            <option value="pBq/cm">pBq/cm</option>
                            <option value="pBq/m">pBq/m</option>
                            <option value="pBq/cm2">pBq/cm2 (squared)</option>
                            <option value="pBq/m2">pBq/m2</option>
                            <option value="pBq/cm3">pBq/cm3 (cubed)</option>
                            <option value="pBq/m3">pBq/m3</option>
                        </select>
                    </p>
                </span>
            </div>
            <div>
                <span>
                    <span class="fourths-container">
                        <p class="normal-text">value(s):</p> 
                    </span>
                    <span class="fourths-container">
                        <div>
                            <input type="text" name="measurement.results.valueA1">
                            <p class="info">if type is "measurement" this is the central value. If type is "limit" this is the upper limit. If type is "range" this is the lower bound. </p>
                        </div>
                    </span>
                    <span class="fourths-container">
                        <div>
                            <input type="text" name="measurement.results.valueB1">
                            <p class="info">if type is "measurement" this is the symmetric error. If type is "limit" this is the confidence level. If type is "range" this is the upper bound. </p>
                        </div>
                    </span>
                    <span class="fourths-container">
                        <div>
                            <input type="text" name="measurement.results.valueC1">
                            <p class="info">if type is "measurement" this is the asymmetric error. If type is "limit" no value is required. If type is "range" this is the confidence level. </p>
                        </div>
                    </span>
                </span>
            </div>

        </div>

        <div>
            <span>
                <button id="add-meas-button" class="normal-button" type="button">add measurement result</button>
            </span>
            <span>
                <button id="remove-meas-button" class="normal-button" type="button">remove measurement result</button>
            </span>
        </div>

        <div>
            <span>
                <input id="submit-record-button" class="submit-button" type="submit" value="insert" disabled="disabled">
            </span>
        </div>
    </div>
</form>

<script>
    var counter = 2;
    var add_button = document.getElementById("add-meas-button")
    add_button.addEventListener('click', function () {
        var measStr = '<h5>additional result</h5>'
        measStr += '<div><span><p class="normal-text">isotope: <input type="text" name="measurement.results.isotope' + counter + '" onKeyup="validateForm()"></p></span></div>'
        measStr += '<div><span><p class="normal-text">measurement type: <select name="measurement.results.type' + counter + '"><option value="measurement">measurement</option>'
        measStr += '<option value="limit">limit</option><option value="range">range</option></select></p></span></div>'
        measStr += '<div><span><p class="normal-text">units: <select name="measurement.results.unit' + counter + '">'
        measStr += '<option value="pct">percent by mass</option><option value="g/g">g/g</option><option value="ppm">ppm</option><option value="ppb">ppb</option><option value="ppt">ppt</option><option value="ppq">ppq (quadrillion)</option>'
        measStr += '<option value="g">g</option><option value="mg">mg</option><option value="ug">ug (micrograms)</option><option value="ng">ng</option><option value="pg">pg</option><option value="Bq">Bq</option><option value="mBq">mBq</option>'
        measStr += '<option value="uBq">uBq</option><option value="nBq">nBq</option><option value="pBq">pBq</option><option value="g/kg">g/kg</option><option value="g/cm">g/cm</option><option value="g/m">g/m</option>'
        measStr += '<option value="g/cm2">g/cm2 (squared)</option><option value="g/m2">g/m2</option><option value="g/cm3">g/cm3 (cubed)</option><option value="g/m3">g/m3</option><option value="mg/kg">mg/kg</option>'
        measStr += '<option value="mg/cm">mg/cm</option><option value="mg/m">mg/m</option><option value="mg/cm2">mg/cm2 (squared)</option><option value="mg/m2">mg/m2</option><option value="mg/cm3">mg/cm3 (cubed)</option>'
        measStr += '<option value="mg/m3">mg/m3</option><option value="ug/kg">ug/kg</option><option value="ug/cm">ug/cm</option><option value="ug/m">ug/m</option><option value="ug/cm2">ug/cm2 (squared)</option>'
        measStr += '<option value="ug/m2">ug/m2</option><option value="ug/cm3">ug/cm3 (cubed)</option><option value="ug/m3">ug/m3</option><option value="ng/kg">ng/kg</option><option value="ng/cm">ng/cm</option>'
        measStr += '<option value="ng/m">ng/m</option><option value="ng/cm2">ng/cm2 (squared)</option><option value="ng/m2">ng/m2</option><option value="ng/cm3">ng/cm3 (cubed)</option><option value="ng/m3">ng/m3</option>'
        measStr += '<option value="pg/kg">pg/kg</option><option value="pg/cm">pg/cm</option><option value="pg/m">pg/m</option><option value="pg/cm2">pg/cm2 (squared)</option><option value="pg/m2">pg/m2</option>'
        measStr += '<option value="pg/cm3">pg/cm3 (cubed)</option><option value="pg/m3">pg/m3</option><option value="Bq/kg">Bq/kg</option><option value="Bq/cm">Bq/cm</option><option value="Bq/m">Bq/m</option>'
        measStr += '<option value="Bq/cm2">Bq/cm2 (squared)</option><option value="Bq/m2">Bq/m2</option><option value="Bq/cm3">Bq/cm3 (cubed)</option><option value="Bq/m3">Bq/m3</option><option value="mBq/kg">mBq/kg</option>'
        measStr += '<option value="mBq/cm">mBq/cm</option><option value="mBq/m">mBq/m</option><option value="mBq/cm2">mBq/cm2 (squared)</option><option value="mBq/m2">mBq/m2</option><option value="mBq/cm3">mBq/cm3 (cubed)</option>'
        measStr += '<option value="mBq/m3">mBq/m3</option><option value="uBq/kg">uBq/kg</option><option value="uBq/cm">uBq/cm</option><option value="uBq/m">uBq/m</option><option value="uBq/cm2">uBq/cm2 (squared)</option>'
        measStr += '<option value="uBq/m2">uBq/m2</option><option value="uBq/cm3">uBq/cm3 (cubed)</option><option value="uBq/m3">uBq/m3</option><option value="nBq/kg">nBq/kg</option><option value="nBq/cm">nBq/cm</option>'
        measStr += '<option value="nBq/m">nBq/m</option><option value="nBq/cm2">nBq/cm2 (squared)</option><option value="nBq/m2">nBq/m2</option><option value="nBq/cm3">nBq/cm3 (cubed)</option><option value="nBq/m3">nBq/m3</option>'
        measStr += '<option value="pBq/kg">pBq/kg</option><option value="pBq/cm">pBq/cm</option><option value="pBq/m">pBq/m</option><option value="pBq/cm2">pBq/cm2 (squared)</option><option value="pBq/m2">pBq/m2</option>'
        measStr += '<option value="pBq/cm3">pBq/cm3 (cubed)</option><option value="pBq/m3">pBq/m3</option></select></p></span></div>'
        measStr += '<div><span><span class="fourths-container"><p class="normal-text">value(s):</p></span>'
        measStr += '<span class="fourths-container"><div><input type="text" name="measurement.results.valueA' + counter + '">'
        measStr += '<p class="info">if type is "measurement" this is the central value. If type is "limit" this is the upper limit. If type is "range" this is the lower bound. </p></div></span>'
        measStr += '<span class="fourths-container"><div><input type="text" name="measurement.results.valueB' + counter + '">'
        measStr += '<p class="info">if type is "measurement" this is the symmetric error. If type is "limit" this is the confidence level. If type is "range" this is the upper bound. </p></div></span>'
        measStr += '<span class="fourths-container"><div><input type="text" name="measurement.results.valueC' + counter + '">'
        measStr += '<p class="info">if type is "measurement" this is the asymmetric error. If type is "limit" no value is required. If type is "range" this is the confidence level. </p></div></span>'
        measStr += '</span></div>'
        var newMeas = document.createElement('div');
        newMeas.setAttribute('id', 'new-meas-ele-'+counter);
        newMeas.innerHTML = measStr;

        var input_section = document.getElementById("input-section");
        input_section.appendChild(newMeas);

        counter++;
    });

    var remove_button = document.getElementById("remove-meas-button")
    remove_button.addEventListener('click', function() {
        counter--;
        console.log('new-meas-ele-'+counter);
        var removeDiv = document.getElementById('new-meas-ele-'+counter);
        removeDiv.parentNode.removeChild(removeDiv);
    });
</script>

</body>
</html>

