<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>

<!-- display logos for snolab, pnnl, and radiopurity -->
<div class="logo-container">
    <a href="https://www.pnnl.gov/" target="_blank">
        <img id="pnnl-logo-link" src="{{ url_for('static', filename='logos/pnnl_logo.png') }}"/>
    </a>
</div>
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/radiopurity_logo.png') }}"/>
</div>
<div class="logo-container">
    <a href="https://www.snolab.ca/" target="_blank">
        <img id="snolab-logo-link" src="{{ url_for('static', filename='logos/snolab_logo.png') }}"/>
    </a>
</div>

<div>
    <a href="{{ url_for('about_endpoint') }}">
        <p class="logout-link">about</p>
    </a>
</div>

<h1>Assay MongoDB Assistant</h1>

<h3>Login</h3>

<div>
    <p class="info">{{msg}}</p>
</div>

<form action="{{ url_for('login') }}" method="POST">
    <div>
        <span>
            <p class="normal-text">user: </p>
        </span>
        <span>
            <input id="username-text-entry" type="text" name="user" value="DUNEreader" required>
        </span>
    </div>
    <div>
        <span>
            <p class="normal-text">password: </p>
        </span>
        <span>
            <input id="password-text-entry" type="password" name="password" required>
        </span>
    </div>
    <div>
        <input id="login-submit-button" class="submit-button" type="submit" value="login">
    </div>
</form>

</body>
</html>


