<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="{{ url_for('static', filename='javascript_funcs.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>

<!-- display logos for snolab, pnnl, and radiopurity -->
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/pnnl_logo.png') }}"/>
</div>
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/radiopurity_logo.png') }}"/>
</div>
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/snolab_logo.png') }}"/>
</div>

<div>
    <a href="{{ url_for('about_endpoint') }}">
        <p class="logout-link">about</p>
    </a>
    <a href="{{ url_for('logout') }}">
        <p class="logout-link">logout</p>
    </a>

</div>

<h1>Query Assistant</h1>

<!--<h3>this UI queries the {{db_name}} database</h3>-->
<!--<p class="info">Note that this search assistant only performs simple queries; if you wish to perform a nested query or a query with complicated "AND" and "OR" functionality, you are advised to use the DUNEdb python toolkit to query for all records and then filter the records (returned as JSON) as you desire.</p>-->

<div>
    <div class="logo-container right-aligned">
        <img src="{{ url_for('static', filename='logos/conversion_chart.png') }}"/>
    </div>
    <div class="clear-float">
</div>

<button id="query-help-button" class="normal-button" onclick="showHelp()">show query help</button>
<div id="query-help" class="section-container">
    <p class="normal-text">
        This page allows for assembly multi-term queries where each term describes a condition for a specific field.
    </p>
    <ul class="normal-text">
        <li>Use the <b>field</b> dropdown to select the document field to search on.</li>
        <li>
            The options in the <b>comparison</b> dropdown change depending on what field is currently selected, in order to only display valid comparison types for that field.
            For example, the "grouping" field cannot be compared against a value using the "greater than" comparison because the value should be a word, not a number.
        </li>
        <li>Enter any text or numbers into the <b>value</b> field as the value to compare the specified field against using the specified comparison operator.</li>
        <li>
            The <b>include synonyms</b> checkbox forces the query to not only search for the exact value in the "value" field, but also for all synonyms of that value that are on record.
            For example, if "copper" is entered into the "value" textbox and the "include synonyms" box is checked, the query will search for documents containing "copper" or "Cu."
            This option is checked by default.
            Deselect this box in order to only search for the exact value in the "value" field.
        </li>
        <li>
            Click on the <b>AND</b> button to add another term to the query using the "and" conjunction. 
            This causes the query to search for documents where the current term (that was just added) is fulfilled AND the next term (that is about to be added) is also fulfilled.
        </li>
        <li>
            Click on the <b>OR</b> button to add another term to the query using the "or" conjunction. 
            This causes the query to search for documents where either the next term OR the current term is fulfilled.
        </li>
    </ul>
    <p class="normal-text">
        Example: search for documents where the sample description contains the word "copper" or "Cu" and the grouping is "ILIAS UKDM" by: 
    </p>
    <ol class="normal-text">
        <li>selecting "sample.description" from the "field" dropdown,</li>
        <li>selecting "contains" from the "comparison" dropdown,</li>
        <li>entering the word "copper" into the "value" textbox (do not deselect the "include synonyms" box),</li>
        <li>pressing the "AND" button,</li>
        <li>selecting "grouping" from the "field" dropdown,</li>
        <li>selecting "equals" from the "comparison" dropdown,</li>
        <li>entering the phrase "ILIAS UKDM" into the "value" field, and</li>
        <li>pressing the "search" button.</li>
    </ol>
    <p class="normal-text">
        As terms are added to the query, the previously added terms are displayed above the query creation boxes in the "current query" section.
        Once the <b>search</b> is pressed, the final query is displayed below the creation boxes in the "final query" section and the results are displayed at the bottom of the page as a list of summaries.
        To view more details on an individual document in the results list, click on its summary.
        Click on the summary again to hide the full document.
    </p>
</div>

<form action="{{ url_for('search_endpoint') }}" method="POST">
    {% if (num_q_lines > 0) %}
        <div class="section-container">
            <h3>CURRENT QUERY</h3>
            <textarea id="existing-query-text" class="false-textarea" name="existing_query" rows="{{num_q_lines}}" cols="50" readonly>{{existing_query}}</textarea>
            <br>
            <textarea class="false-textarea" name="append_mode" rows="1" cols="5" readonly>{{append_mode}}</textarea>
        </div>
    {% endif %}

    <div class="section-container">
        <div>
            <span>
                <h3>field:</h3>
                <select id="query_field" name="query_field">
                    <option id="removable" value="all">all</option>
                    <option value="grouping">grouping</option>
                    <option value="sample.name">sample.name</option>
                    <option value="sample.description">sample.description</option>
                    <option value="sample.source">sample.source</option>
                    <option value="sample.id">sample.id</option>
                    <option value="sample.owner.name">sample.owner.name</option>
                    <option value="sample.owner.contact">sample.owner.contact</option>
                    <option value="measurement.results.isotope">measurement.results.isotope</option>
                    <option value="measurement.results.type">measurement.results.type</option>
                    <option value="measurement.results.unit">measurement.results.unit</option>
                    <option value="measurement.results.value">measurement.results.value</option>
                    <option value="measurement.practitioner.name">measurement.practitioner.name</option>
                    <option value="measurement.practitioner.contact">measurement.practitioner.contact</option>
                    <option value="measurement.technique">measurement.technique</option>
                    <option value="measurement.institution">measurement.institution</option>
                    <option value="measurement.date">measurement.date</option>
                    <option value="measurement.description">measurement.description</option>
                    <option value="measurement.requestor.name">measurement.requestor.name</option>
                    <option value="measurement.requestor.contact">measurement.requestor.contact</option>
                    <option value="data_source.reference">source.reference</option>
                    <option value="data_source.input.name">source.input.name</option>
                    <option value="data_source.input.contact">source.input.contact</option>
                    <option value="data_source.input.date">source.input.date</option>
                    <option value="data_source.input.notes">source.input.notes</option>
                </select>
            </span>

            <span>
                <h3>comparison:</h3>
                <select id="comparison_operator" name="comparison_operator"></select>
            </span>

            <span>
                <h3>value:</h3>
                <textarea id="query_value" name="query_value" rows="1" cols="15"></textarea>
                <br>
                <input type="checkbox" name="include_synonyms" value="true" checked>
                <label class="normal-text" for="include_synonyms">include synonyms</label>
            </span>
        </div>

        <div>
            <span>
                <button id="query-and-button" class="normal-button" type="submit" name="append_button" value="do_and">AND</button>
            </span>
            <span>
                <button id="query-or-button" class="normal-button" type="submit" name="append_button" value="do_or">OR</button/>
            </span>
            <span>
                <p class="info">add another query term</p>
            </span>
        </div>

        <div>
            <span>
                <input id="submit-query" class="submit-button" type="submit" value="search">
            </span>
        </div>
    </div>
</form>

{% if error_msg|length %}
    <div class="section-container">
        <p class="normal-text">query error: {{error_msg}}</p>
    </div>
{% endif %}

{% if final_q|length %}
    <div id="final-query-text-container" class="section-container">
        <h3>FINAL QUERY</h3>
        {% for final_q_line in final_q %}
            <p class="normal-text">{{final_q_line}}</p>
        {% endfor %}
    </div>
{% endif %}

<div id="query-results-container" class="section-container">
    {% if results_str|length %}
        <h3>RESULTS</h3>
        <p class="info">num records: {{results_str|length}}</p>
        {% for result in results_str %}
            <!--<button type="button" class="collapsible">{{result|truncate(100, True)}}</button> -->
            
            {% set result_dict = results_dict[loop.index-1] %}
            {% set meas_results = result_dict["measurement"]["results"] %}
            
            <button type="button" class="collapsible">
                <span class="collapsiblebutton-name"><b>name:</b> {{result_dict["sample"]["name"]}}</span>
                <span class="collapsiblebutton-name"><b>grouping:</b> {{result_dict["grouping"]}}</span>
                <span class="collapsiblebutton-vals">
                    {% for meas_ele in meas_results %}
                        <b>{{meas_ele["isotope"]}}</b>: {{meas_ele["value"][0]}}{{meas_ele["unit"]}}
                    {% endfor %}
                </span>
            </button>
            
            <div class="collapsible-content">
                <div class="collapsible-line">
                    <p class="collapsible-field">database id:</p>
                    <p class="collapsible-value">{{ result_dict["_id"] }}</p>
                </div>
                <div class="collapsible-line">
                    <p class="collapsible-field">grouping:</p>
                    <p class="collapsible-value">{{ result_dict["grouping"] }}</p>
                </div>
                
                <!-- SAMPLE INFO -->
                <div>
                    {% if result_dict["sample"]["name"]|length > 0 or result_dict["sample"]["description"]|length > 0 or result_dict["sample"]["source"]|length > 0 %}
                        <div class="collapsible-line">
                            <p class="collapsible-field">sample info:</p>
                        </div>
                        
                        <div class="collapsible-subsection">                    
                            {% if result_dict["sample"]["name"]|length > 0 %}
                                <div class="collapsible-line">
                                    <p class="collapsible-field">name:</p>
                                    <p class="collapsible-value">{{ result_dict["sample"]["name"] }}</p>
                                </div>
                            {% endif %}
                            
                            {% if result_dict["sample"]["description"]|length > 0 %}
                                <div class="collapsible-line">
                                    <p class="collapsible-field">description:</p>
                                    <p class="collapsible-value">{{ result_dict["sample"]["description"] }}</p>
                                </div>
                            {% endif %}
                            
                            {% if result_dict["sample"]["source"]|length > 0 %}
                                <div class="collapsible-line">
                                    <p class="collapsible-field">source:</p>
                                    <p class="collapsible-value">{{ result_dict["sample"]["source"] }}</p>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

                <!-- MEASUREMENT INFO -->
                <div>
                    <div class="collapsible-line">
                        <p class="collapsible-field">measurement info:</p>
                    </div>
                    
                    <div class="collapsible-subsection">
                        {% if result_dict["measurement"]["technique"]|length > 0 %}
                            <div class="collapsible-line">
                                <p class="collapsible-field">technique:</p>
                                <p class="collapsible-value">{{ result_dict["measurement"]["technique"] }}</p>
                            </div>
                        {% endif %}
                        
                        {% if result_dict["measurement"]["institution"]|length > 0 %}
                            <div class="collapsible-line">
                                <p class="collapsible-field">institution:</p>
                                <p class="collapsible-value">{{ result_dict["measurement"]["institution"] }}</p>
                            </div>
                        {% endif %}
                        
                        {% if result_dict["measurement"]["description"]|length > 0 %}
                            <div class="collapsible-line">
                                <p class="collapsible-field">description:</p>
                                <p class="collapsible-value">{{ result_dict["measurement"]["description"] }}</p>
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="collapsible-line">
                        <p class="collapsible-field">measurement values:</p>
                    </div>
                    
                    <div class="collapsible-subsection">
                        <!-- measurement results -->
                        {% for meas in meas_results %}
                            <div class="collapsible-line">
                                <p class="collapsible-value">{{ meas["isotope"] }}</p>
                                {% if meas["type"] == "measurement" %}
                                    {% if meas["value"]|length == 1 %}
                                        <p class="collapsible-field">value:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                    {% elif meas["value"]|length == 2 %}
                                        <p class="collapsible-field">value:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                        <p class="collapsible-field">symmetric error:</p>
                                        <p class="collapsible-value">{{ meas["value"][1] }} {{ meas["unit"] }}</p>
                                    {% elif meas["value"]|length == 3 %}
                                        <p class="collapsible-field">value:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                        <p class="collapsible-field">symmetric error:</p>
                                        <p class="collapsible-value">{{ meas["value"][1] }} {{ meas["unit"] }}</p>
                                        <p class="collapsible-field">asymmetric error:</p>
                                        <p class="collapsible-value">{{ meas["value"][2] }} {{ meas["unit"] }}</p>
                                    {% endif %}

                                {% elif meas["type"] == "limit" %}
                                    {% if meas["value"]|length == 1 %}
                                        <p class="collapsible-field">less than:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                    {% elif meas["value"]|length == 2 %}
                                        <p class="collapsible-field">less than:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                        <p class="collapsible-field">confidence:</p>
                                        <p class="collapsible-value">{{ meas["value"][1] }}%</p>
                                    {% endif %}

                                {% elif meas["type"] == "range" %}
                                    {% if meas["value"]|length == 1 %}
                                        <p class="collapsible-field">greater than:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                    {% elif meas["value"]|length == 2 %}
                                        <p class="collapsible-field">greater than:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                        <p class="collapsible-field">less than:</p>
                                        <p class="collapsible-value">{{ meas["value"][1] }} {{ meas["unit"] }}</p>
                                    {% elif meas["value"]|length == 3 %}
                                        <p class="collapsible-field">greater than:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                        <p class="collapsible-field">less than:</p>
                                        <p class="collapsible-value">{{ meas["value"][1] }} {{ meas["unit"] }}</p>
                                        <p class="collapsible-field">confidence:</p>
                                        <p class="collapsible-value">{{ meas["value"][2] }}%</p>
                                    {% endif %}
                                    
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- PEOPLE INFO -->
                <div>
                    <!-- data input -->
                    <div class="collapsible-line">
                        {% if result_dict["data_source"]["input"]["name"]|length > 0 and result_dict["data_source"]["input"]["contact"]|length > 0 %}
                            <p class="collapsible-field">data input:</p>
                            <p class="collapsible-value">{{result_dict["data_source"]["input"]["name"]}} </p>
                            <p class="collapsible-field">contact:</p>
                            <p class="collapsible-value">{{result_dict["data_source"]["input"]["contact"]}} </p>
                        {% elif result_dict["data_source"]["input"]["name"]|length > 0 %}
                            <p class="collapsible-field">data input:</p>
                            <p class="collapsible-value">{{result_dict["data_source"]["input"]["name"]}} </p>
                        {% endif %}
                        {% if result_dict["data_source"]["input"]["date"]|length == 1 %}
                            <p class="collapsible-field">data input date:</p>
                            <p class="collapsible-value">{{ result_dict["data_source"]["input"]["date"][0] }}</p>
                        {% elif result_dict["data_source"]["input"]["date"]|length == 2 %}
                            <p class="collapsible-field">data input date range:</p>
                            <p class="collapsible-value">{{ result_dict["data_source"]["input"]["date"][0] }} - {{ result_dict["data_source"]["input"]["date"][1] }}</p>
                        {% endif %}
                    </div>
                    
                    <!-- measurement practitioner -->
                    <div class="collapsible-line">
                        {% if result_dict["measurement"]["practitioner"]["name"]|length > 0 and result_dict["measurement"]["practitioner"]["contact"]|length > 0 %}
                            <p class="collapsible-field">measurement practitioner:</p>
                            <p class="collapsible-value">{{result_dict["measurement"]["practitioner"]["name"]}} </p>
                            <p class="collapsible-field">contact:</p>
                            <p class="collapsible-value">{{result_dict["measurement"]["practitioner"]["contact"]}} </p>
                        {% elif result_dict["measurement"]["practitioner"]["name"]|length > 0 %}
                            <p class="collapsible-field">measurement practitioner:</p>
                            <p class="collapsible-value">{{result_dict["measurement"]["practitioner"]["name"]}} </p>
                        {% endif %}
                        {% if result_dict["measurement"]["date"]|length == 1 %}
                            <p class="collapsible-field">measurement date:</p>
                            <p class="collapsible-value">{{ result_dict["measurement"]["date"][0] }}</p>
                        {% elif result_dict["measurement"]["date"]|length == 2 %}
                            <p class="collapsible-field">measurement date range:</p>
                            <p class="collapsible-value">{{ result_dict["measurement"]["date"][0] }} - {{ result_dict["measurement"]["date"][1] }}</p>
                        {% endif %}
                    </div>
                    
                    <!-- measurement requestor -->
                    <div class="collapsible-line">
                        {% if result_dict["measurement"]["requestor"]["name"]|length > 0 and result_dict["measurement"]["requestor"]["contact"]|length > 0 %}
                            <p class="collapsible-field">measurement requestor:</p>
                            <p class="collapsible-value">{{result_dict["measurement"]["requestor"]["name"]}} </p>
                            <p class="collapsible-field">contact:</p>
                            <p class="collapsible-value">{{result_dict["measurement"]["requestor"]["contact"]}} </p>
                        {% elif result_dict["measurement"]["requestor"]["name"]|length > 0 %}
                            <p class="collapsible-field">measurement requestor:</p>
                            <p class="collapsible-value">{{result_dict["measurement"]["requestor"]["name"]}} </p>
                        {% endif %}
                    </div>
                    
                    <!-- sample owner -->
                    <div class="collapsible-line">
                        {% if result_dict["sample"]["owner"]["name"]|length > 0 and result_dict["sample"]["owner"]["contact"]|length > 0 %}
                            <p class="collapsible-field">sample owner:</p>
                            <p class="collapsible-value">{{result_dict["sample"]["owner"]["name"]}} </p>
                            <p class="collapsible-field">contact:</p>
                            <p class="collapsible-value">{{result_dict["sample"]["owner"]["contact"]}} </p>
                        {% elif result_dict["sample"]["owner"]["name"]|length > 0 %}
                            <p class="collapsible-field">sample owner:</p>
                            <p class="collapsible-value">{{result_dict["sample"]["owner"]["name"]}} </p>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        {% endfor %}
    {% endif %}
</div>


<script>
    window.onload = function() {
        // levels is an Object
        var query_operators = {
            "all":{"contains":"contains"},
            "grouping":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "sample.name":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "sample.description":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "sample.source":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "sample.id":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "sample.owner.name":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "sample.owner.contact":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "measurement.results.isotope":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "measurement.results.type":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "measurement.results.unit":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "measurement.results.value":{"equals":"eq", "less than":"lt", "less than or equal to":"lte", "greater than":"gt", "greater than or equal to":"gte"},
            "measurement.practitioner.name":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "measurement.practitioner.contact":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "measurement.technique":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "measurement.institution":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "measurement.date":{"equals":"eq", "less than":"lt", "less than or equal to":"lte", "greater than":"gt", "greater than or equal to":"gte"},
            "measurement.description":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "measurement.requestor.name":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "measurement.requestor.contact":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "data_source.reference":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "data_source.input.name":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "data_source.input.contact":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"},
            "data_source.input.date":{"equals":"eq", "less than":"lt", "less than or equal to":"lte", "greater than":"gt", "greater than or equal to":"gte"},
            "data_source.input.notes":{"contains":"contains", "does not contain":"notcontains", "equals":"eq"}
        };

        // grab references to the drop-downs
        field_select = document.querySelector('#query_field');
        comparison_select = document.querySelector('#comparison_operator');

        // populate drop-down menus
        setOptions(comparison_select, query_operators[field_select.value]);
  
        // attach a change event listener to the themes drop-down
        field_select.addEventListener('change', function() {
            setOptions(comparison_select, query_operators[field_select.value]);
        });
    
        function setOptions(dropDownObject, options) {
            // clear out any existing values
            dropDownObject.innerHTML = '';
            // insert the new options into the drop-down
            Object.keys(options).forEach(function(value) {
                dropDownObject.innerHTML += '<option value="' + options[value] + '">' + value + '</option>';
            });
        }
    };
</script>

<!--
<script>
    field_selector = document.querySelector('#query_field');
    append_buttons = document.querySelectorAll('button[name="append_button"]');
    //alert(field_selector.value);
    for (var i = 0; i < append_buttons.length; i++) {
        append_button = append_buttons[i];
        append_button.addEventListener('click', function() {
            existing_q = document.querySelector('textarea[name="existing_query"]').value;
            if (existing_q.includes("all")) {
                console.log('"all" present');
                document.getElementById('removable').disabled = true;
            } else {
                console.log('"all" not present');
                document.getElementById('removable').disabled = false;
            }
            alert(document.getElementById('removable').disabled);
        });
    };
</script>
-->

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

</body>
</html>

