<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>

<!-- display logos for snolab, pnnl, and radiopurity -->
<div class="logo-container">
    <a href="https://www.pnnl.gov/" target="_blank">
        <img id="pnnl-logo-link" src="{{ url_for('static', filename='logos/pnnl_logo.png') }}"/>
    </a>
</div>
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/radiopurity_logo.png') }}"/>
</div>
<div class="logo-container">
    <a href="https://www.snolab.ca/" target="_blank">
        <img id="snolab-logo-link" src="{{ url_for('static', filename='logos/snolab_logo.png') }}"/>
    </a>
</div>

<!-- documentation link -->
<div>
    <a class="normal-text github-link" href="{{ url_for('static', filename='docs/html/index.html') }}" target="_blank">documentation</a>
</div>
<div class="clear-float"></div>

<!-- github link -->
<div>
    <a class="github-link" href="https://github.com/pnnl/Radiopurity-database-assistant" target="_blank" rel="noopener noreferrer">
        <img class="github-logo" src="{{ url_for('static', filename='logos/github_logo.png') }}" alt="GitHub logo">
    </a>
</div>
<div class="clear-float"></div>

<!-- links to other pages on the site -->
<div>
    <a href="{{ url_for('about_endpoint') }}"><button class="logout-link">about</button></a>
    <a href="{{ url_for('simplesearch_endpoint') }}"><button class="pages">search</button></a>
    <a href="{{ url_for('search_endpoint') }}"><button class="pages">advanced search</button></a>
    <a href="{{ url_for('insert_endpoint') }}"><button class="pages">insert</button></a>
    <a href="{{ url_for('update_endpoint') }}"><button class="pages">update</button></a>
    <a href="{{ url_for('logout') }}"><button class="logout-link">logout</button></a>
</div>


<h1>Query Assistant</h1>

<!--<h3>this UI queries the {{db_name}} database</h3>-->
<!--<p class="info">Note that this search assistant only performs simple queries; if you wish to perform a nested query or a query with complicated "AND" and "OR" functionality, you are advised to use the DUNEdb python toolkit to query for all records and then filter the records (returned as JSON) as you desire.</p>-->

<div>
    <div class="logo-container right-aligned">
        <img src="{{ url_for('static', filename='logos/conversion_chart.png') }}"/>
    </div>
    <div class="clear-float">
</div>

<div class="section-container">
    <form action="{{ url_for('simplesearch_endpoint') }}" method="POST">

        <div class="centered-div">
            <p class="info">Search for records containing the term...</p>
            <div>
                <textarea class="hidden-object" name="query_field" rows="1" cols="5" readonly>all</textarea>
                <textarea class="hidden-object" name="comparison_operator" rows="1" cols="5" readonly>contains</textarea>
            </div>
            <div>
                <textarea id="query_value" name="query_value" rows="1" style="width:100%;"></textarea>
                <br>
                <input type="checkbox" name="include_synonyms" value="true" checked>
                <label class="normal-text" for="include_synonyms">include synonyms</label>
            </div>
            <div>
                <span class="left-aligned">
                    <input id="submit-query" class="submit-button" type="submit" value="search">
                </span>
                <span class="right-aligned">
                    <a href="{{ url_for('search_endpoint') }}">
                        <p class="normal-text">advanced search</p>
                    </a>
                </span>
            </div>
            <div class="clear-float"></div>
        </div>
    </form>
</div>

{% if error_msg|length %}
    <div class="section-container">
        <p class="normal-text">query error: {{error_msg}}</p>
    </div>
{% endif %}

<div id="query-results-container" class="section-container">
    {% if results_str|length %}
        <h3>RESULTS</h3>
		<span class="right-aligned">
          <h3>Units: </h3>
          <select id="units_list" name="units_field">
            <option value="">Units</option>
            <option value="ppm">ppm</option>
            <option value="ppb">ppb</option>
            <option value="ppt">ppt</option>
            <option value="ppq">ppq</option>
            <option value="Bq_kg">Bq/kg</option>
            <option value="mBq_kg">mBq/kg</option>
            <option value="uBq_kg">uBq/kg</option>
            <option value="nBq_kg">nBq/kg</option>
            <option value="pBq_kg">pBq/kg</option>
			<option value="g_g">g/g</option>
            <option value="g_kg">g/kg</option>
            <option value="mg_kg">mg/kg</option>
            <option value="ug_kg">ug/kg</option>
            <option value="ng_kg">ng/kg</option>
            <option value="pg_kg">pg/kg</option>
            <option value="pct">pct</option>
          </select>
          <button type="button" id="units_convert_button" class="right-aligned">Convert</button>
        </span>
		<span class="right-aligned">
			<img id="loading_icon" width="50"></img>
		</span>
        <p class="info">num records: {{results_str|length}}</p>
        {% for result in results_str %}
            <!--<button type="button" class="collapsible">{{result|truncate(100, True)}}</button> -->
            
            {% set result_dict = results_dict[loop.index-1] %}
            {% set meas_results = result_dict["measurement"]["results"] %}
            
            <button type="button" class="collapsible">
                <span class="collapsiblebutton-name"><b>name:</b> {{result_dict["sample"]["name"]}}</span>
                <span class="collapsiblebutton-name"><b>grouping:</b> {{result_dict["grouping"]}}</span>
                <span class="collapsiblebutton-name">
                    {% if result_dict["data_source"]["reference"]|length > 0 %}
                        <b>published</b>
                    {% endif %}
                </span>
                <span class="collapsiblebutton-vals">
                    {% for meas_ele in meas_results %}
                        <span><b>{{meas_ele["isotope"]}}</b>:</span><span> {{meas_ele["value"][0]}} {{meas_ele["unit"]}} </span>
                    {% endfor %}
                </span>
            </button>
            
            <div class="collapsible-content">
                 <table>
                    <tr>
                        <td><p class="collapsible-field">database id:</p></td>
                        <td><p class="collapsible-value">{{ result_dict["_id"] }}</p></td>
                    </tr>
                    {% if result_dict["grouping"]|length > 0 %}
                        <tr>
                            <td><p class="collapsible-field">grouping:</p></td>
                            <td><p class="collapsible-value">{{ result_dict["grouping"] }}</p></td>
                        </tr>
                    {% endif %}

                    <!-- DATA_SOURCE INFO (just reference) -->
                    {% if result_dict["data_source"]["reference"]|length > 0 %}
                        <tr>
                            <td><p class="collapsible-field">data reference (publication):</p></td>
                            <td><p class="collapsible-value">{{ result_dict["data_source"]["reference"] }}</p></td>
                        </tr>
                    {% endif %}
                </table>
                <table>
                    <!-- SAMPLE INFO -->
                    {% if result_dict["sample"]["name"]|length > 0 or result_dict["sample"]["id"]|length > 0 or result_dict["sample"]["description"]|length > 0 or result_dict["sample"]["source"]|length > 0 %}
                        <tr>
                            <td><p class="collapsible-field">sample info</p></td>
                        </tr>
                        {% for field_name in ["name", "id", "description", "source"] %}
                            {% if result_dict["sample"][field_name]|length > 0 %}
                                <tr>
                                    <td><p class="collapsible-field"></p></td>
                                    <td><p class="collapsible-field">{{ field_name }}:</p></td>
                                    <td><p class="collapsible-value">{{ result_dict["sample"][field_name] }}</p></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                    <!-- MEASUREMENT INFO -->
                    <tr>
                        <td><p class="collapsible-field">measurement info</p></td>
                    </tr>
                    {% for field_name in ["technique", "institution", "description"] %}
                        {% if result_dict["measurement"][field_name]|length > 0 %}
                            <tr>
                                <td><p class="collapsible-field"></p></td>
                                <td><p class="collapsible-field">{{ field_name }}:</p></td>
                                <td><p class="collapsible-value">{{ result_dict["measurement"][field_name] }}</p></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% if result_dict["measurement"]["date"]|length > 0 %}
                        <tr>
                            <td><p class="collapsible-field"></p></td>
                            {% if result_dict["measurement"]["date"]|length == 1 and result_dict["measurement"]["date"][0]|length > 0 %}
                                <td><p class="collapsible-field">measurement date:</p></td>
                                <td><p class="collapsible-value">{{ result_dict["measurement"]["date"][0] }}</p></td>
                            {% elif result_dict["measurement"]["date"]|length == 2 and result_dict["measurement"]["date"][0]|length > 0 and result_dict["measurement"]["date"][1]|length > 0 %}
                                <td><p class="collapsible-field">measurement date range:</p></td>
                                <td><p class="collapsible-value">{{ result_dict["measurement"]["date"][0] }} - {{ result_dict["measurement"]["date"][1] }}</p></td>
                            {% endif %}
                        </tr>
                    {% endif %}

                    <!-- measurement results -->
                    <tr>
                        <td><p class="collapsible-field"></p></td>
                        <td><p class="collapsible-field">values:</p></td>
                        <td>
                            <table class="measurement-results-table" border=0>
                                <!-- | 0      | 1 | 2       | 3 | 4      | 5     | 6                          | 7                                  | 8                | 9                    | -->
                                <!-- | lt_val | < | isotope | < | gt_val | units | symmetric_error/confidence level | symmetric_error_val/confidence_val | asymmetric_error | asymmetric_error_val | -->
                                {% for meas in meas_results %}
                                    <tr>
                                        {% if meas["type"] == "measurement" %}
                                            {% if meas["value"]|length == 1 %}
                                                <td><p class="collapsible-value"></p></td>
                                                <td><p class="collapsible-value"></p></td>
                                                <td><p class="collapsible-value">{{ meas["isotope"] }}</p></td>
                                                <td><p class="collapsible-value">&equals;</p></td>
                                                <td><p class="collapsible-value">{{ meas["value"][0] }}</p><td>
                                                <td><p class="collapsible-value">{{ meas["unit"] }}</p></td>
                                            {% elif meas["value"]|length == 2 %}
                                                <td><p class="collapsible-value"></p></td>
                                                <td><p class="collapsible-value"></p></td>
                                                <td><p class="collapsible-value">{{ meas["isotope"] }}</p></td>
                                                <td><p class="collapsible-value">&equals;</p></td>
                                                <td><p class="collapsible-value">{{ meas["value"][0] }}</p></td>
                                                <td><p class="collapsible-value">{{ meas["unit"] }}</p></td>
                                                <td><p class="collapsible-value">±</p></td><!-- This represents symmetric error -->
                                                <td><p class="collapsible-value">{{ meas["value"][1] }}</p></td>
												<td><p class="collapsible-value">{{ meas["unit"] }}</p></td>
                                            {% elif meas["value"]|length == 3 %}
                                                <td><p class="collapsible-value"></p></td>
                                                <td><p class="collapsible-value"></p></td>
                                                <td><p class="collapsible-value">{{ meas["isotope"] }}</p></td>
                                                <td><p class="collapsible-value">&equals;</p></td>
                                                <td><p class="collapsible-value">{{ meas["value"][0] }}</p></td>
                                                <td><p class="collapsible-value">{{ meas["unit"] }}</p></td>
                                                <td><p class="collapsible-value">±</p></td><!-- This represents symmetric error -->
                                                <td><p class="collapsible-value">{{ meas["value"][1] }}</p></td>
												<td><p class="collapsible-value">{{ meas["unit"] }}</p></td>
                                                <td><p class="collapsible-value">asymmetric error:</p></td>
                                                <td><p class="collapsible-value">{{ meas["value"][2] }}</p></td>
                                            {% endif %}
                                        {% elif meas["type"] == "limit" %}
                                            {% if meas["value"]|length == 1 %}
                                                <td><p class="collapsible-value"></p></td>
                                                <td><p class="collapsible-value"></p></td>
                                                <td><p class="collapsible-value">{{ meas["isotope"] }}</p></td>
                                                <td><p class="collapsible-value">&lt;</p></td>
                                                <td><p class="collapsible-value">{{ meas["value"][0] }}</p></td>
                                                <td><p class="collapsible-value">{{ meas["unit"] }}</p></td>
                                            {% elif meas["value"]|length == 2 %}
                                                <td><p class="collapsible-value"></p></td>
                                                <td><p class="collapsible-value"></p></td>
                                                <td><p class="collapsible-value">{{ meas["isotope"] }}</p></td>
                                                <td><p class="collapsible-value">&lt;</p></td>
                                                <td><p class="collapsible-value">{{ meas["value"][0] }}</p></td>
                                                <td><p class="collapsible-value">{{ meas["unit"] }}</p></td>
                                                <td><p class="collapsible-value">confidence level:</p></td>
                                                <td><p class="collapsible-value">{{ meas["value"][1] }}%</p></td>
                                            {% endif %}
                                        {% elif meas["type"] == "range" %}
                                            {% if meas["value"]|length == 1 %}
                                                <td><p class="collapsible-value">{{ meas["value"][0] }}</p></td>
                                                <td><p class="collapsible-value">&lt;</p></td>
                                                <td><p class="collapsible-value">{{ meas["isotope"] }}</p></td>
                                                <td><p class="collapsible-value"></p></td>
                                                <td><p class="collapsible-value"></p></td>
                                                <td><p class="collapsible-value">{{ meas["unit"] }}</p></td>
                                            {% elif meas["value"]|length == 2 %}
                                                <td><p class="collapsible-value">{{ meas["value"][0] }}</p></td>
                                                <td><p class="collapsible-value">&lt;</p></td>
                                                <td><p class="collapsible-value">{{ meas["isotope"] }}</p></td>
                                                <td><p class="collapsible-value">&lt;</p></td>
                                                <td><p class="collapsible-value">{{ meas["value"][1] }}</p></td>
                                                <td><p class="collapsible-value">{{ meas["unit"] }}</p></td>
                                            {% elif meas["value"]|length == 3 %}
                                                <td><p class="collapsible-value">{{ meas["value"][0] }}</p></td>
                                                <td><p class="collapsible-value">&lt;</p></td>
                                                <td><p class="collapsible-value">{{ meas["isotope"] }}</p></td>
                                                <td><p class="collapsible-value">&lt;</p></td>
                                                <td><p class="collapsible-value">{{ meas["value"][1] }}</p></td>
                                                <td><p class="collapsible-value">{{ meas["unit"] }}</p></td>
                                                <td><p class="collapsible-value">confidence level:</p></td>
                                                <td><p class="collapsible-value">{{ meas["value"][2] }}%</p></td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>

                    <!-- PEOPLE INFO -->
                    <!-- measurement requestor -->
                    {% if result_dict["measurement"]["requestor"]["name"]|length > 0 or result_dict["measurement"]["requestor"]["contact"]|length > 0 %}
                        <tr>
                            <td><p class="collapsible-field">measurement requestor</p></td>
                        </tr>
                        {% for field_name in ["name", "contact"] %}
                            {% if result_dict["measurement"]["requestor"][field_name]|length > 0 %}
                                <tr>
                                    <td><p class="collapsible-field"></p></td>
                                    <td><p class="collapsible-field">{{ field_name }}:</p></td>
                                    <td><p class="collapsible-value">{{ result_dict["measurement"]["requestor"][field_name] }}</p></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <!-- measurement practitioner -->
                    {% if result_dict["measurement"]["practitioner"]["name"]|length > 0 or result_dict["measurement"]["practitioner"]["contact"]|length > 0 %}
                        <tr>
                            <td><p class="collapsible-field">measurement practitioner</p></td>
                        </tr>
                        {% for field_name in ["name", "contact"] %}
                            {% if result_dict["measurement"]["practitioner"][field_name]|length > 0 %}
                                <tr>
                                    <td><p class="collapsible-field"></p></td>
                                    <td><p class="collapsible-field">{{ field_name }}:</p></td>
                                    <td><p class="collapsible-value">{{ result_dict["measurement"]["practitioner"][field_name] }}</p></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <!-- data input -->
                    {% if result_dict["data_source"]["input"]["name"]|length > 0 or result_dict["data_source"]["input"]["contact"]|length > 0 or result_dict["data_source"]["input"]["notes"]|length > 0 or result_dict["data_source"]["input"]["date"]|length > 0%}
                        <tr>
                            <td><p class="collapsible-field">data input</p></td>
                        </tr>
                        {% for field_name in ["name", "contact", "notes"] %}
                            {% if result_dict["data_source"]["input"][field_name]|length > 0 %}
                                 <tr>
                                    <td><p class="collapsible-field"></p></td>
                                    <td><p class="collapsible-field">{{ field_name }}:</p></td>
                                    <td><p class="collapsible-value">{{ result_dict["data_source"]["input"][field_name] }}</p></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% if result_dict["data_source"]["input"]["date"]|length > 0 %}
                            <tr>
                                <td><p class="collapsible-field"></p></td>
                                {% if result_dict["data_source"]["input"]["date"]|length == 1 and result_dict["data_source"]["input"]["date"][0]|length > 0 %}
                                    <td><p class="collapsible-field">data input date:</p></td>
                                    <td><p class="collapsible-value">{{ result_dict["data_source"]["input"]["date"][0] }}</p></td>
                                {% elif result_dict["data_source"]["input"]["date"]|length == 2 and result_dict["data_source"]["input"]["date"][0]|length > 0 and result_dict["data_source"]["input"]["date"][1]|length > 0 %}
                                    <td><p class="collapsible-field">data input date range:</p></td>
                                    <td><p class="collapsible-value">{{ result_dict["data_source"]["input"]["date"][0] }} - {{ result_dict["data_source"]["input"]["date"][1] }}</p></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endif %}
                    <!-- sample owner -->
                    {% if result_dict["sample"]["owner"]["name"]|length > 0 or result_dict["sample"]["owner"]["contact"]|length > 0 %}
                        <tr>
                            <td><p class="collapsible-field">sample owner</p></td>
                        </tr>
                        {% for field_name in ["name", "contact"] %}
                            {% if result_dict["sample"]["owner"][field_name]|length > 0 %}
                                <tr>
                                    <td><p class="collapsible-field"></p></td>
                                    <td><p class="collapsible-field">{{ field_name }}:</p></td>
                                    <td><p class="collapsible-value">{{ result_dict["sample"]["owner"][field_name] }}</p></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                </table>
              
            </div>
        {% endfor %}
    {% endif %}
</div>


<script>
    var query_value_textentry = document.getElementById("query_value");
    query_value_textentry.addEventListener("keyup", function(event) {
    // Number 13 is the "Enter" key on the keyboard
    if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("submit-query").click();
    }
    });
</script>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

<script type="text/javascript" src="./static/unit_conversion_js.js"></script>

</body>
</html>

