<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>

<!-- display logos for snolab, pnnl, and radiopurity -->
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/pnnl_logo.png') }}"/>
</div>
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/radiopurity_logo.png') }}"/>
</div>
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/snolab_logo.png') }}"/>
</div>

<!-- documentation link -->
<div>
    <a class="normal-text github-link" href="{{ url_for('static', filename='docs/html/index.html') }}" target="_blank">documentation</a>
</div>
<div class="clear-float"></div>

<!-- github link -->
<div>
    <a class="github-link" href="https://github.com/pnnl/Radiopurity-database-assistant" target="_blank" rel="noopener noreferrer">
        <img class="github-logo" src="{{ url_for('static', filename='logos/github_logo.png') }}" alt="GitHub logo">
    </a>
</div>
<div class="clear-float"></div>

<!-- links to other pages on the site -->
<div>
    <a href="{{ url_for('about_endpoint') }}"><button class="logout-link">about</button></a>
    <a href="{{ url_for('simplesearch_endpoint') }}"><button class="pages">search</button></a>
    <a href="{{ url_for('search_endpoint') }}"><button class="pages">advanced search</button></a>
    <a href="{{ url_for('insert_endpoint') }}"><button class="pages">insert</button></a>
    <a href="{{ url_for('update_endpoint') }}"><button class="pages">update</button></a>
    <a href="{{ url_for('logout') }}"><button class="logout-link">logout</button></a>
</div>


<h1>Query Assistant</h1>

<!--<h3>this UI queries the {{db_name}} database</h3>-->
<!--<p class="info">Note that this search assistant only performs simple queries; if you wish to perform a nested query or a query with complicated "AND" and "OR" functionality, you are advised to use the DUNEdb python toolkit to query for all records and then filter the records (returned as JSON) as you desire.</p>-->

<div>
    <div class="logo-container right-aligned">
        <img src="{{ url_for('static', filename='logos/conversion_chart.png') }}"/>
    </div>
    <div class="clear-float">
</div>

<div class="section-container">
    <form action="{{ url_for('simplesearch_endpoint') }}" method="POST">

        <div class="centered-div">
            <p class="info">Search for records containing the term...</p>
            <div>
                <textarea class="hidden-object" name="query_field" rows="1" cols="5" readonly>all</textarea>
                <textarea class="hidden-object" name="comparison_operator" rows="1" cols="5" readonly>contains</textarea>
            </div>
            <div>
                <textarea id="query_value" name="query_value" rows="1" style="width:100%;"></textarea>
            </div>
            <div>
                <span class="left-aligned">
                    <input id="submit-query" class="submit-button" type="submit" value="search">
                </span>
                <span class="right-aligned">
                    <a href="{{ url_for('search_endpoint') }}">
                        <p class="normal-text">advanced search</p>
                    </a>
                </span>
            </div>
            <div class="clear-float"></div>
        </div>
    </form>
</div>

{% if error_msg|length %}
    <div class="section-container">
        <p class="normal-text">query error: {{error_msg}}</p>
    </div>
{% endif %}

<div id="query-results-container" class="section-container">
    {% if results_str|length %}
        <h3>RESULTS</h3>
        <p class="info">num records: {{results_str|length}}</p>
        {% for result in results_str %}
            <!--<button type="button" class="collapsible">{{result|truncate(100, True)}}</button> -->
            
            {% set result_dict = results_dict[loop.index-1] %}
            {% set meas_results = result_dict["measurement"]["results"] %}
            
            <button type="button" class="collapsible">
                <span class="collapsiblebutton-name"><b>name:</b> {{result_dict["sample"]["name"]}}</span>
                <span class="collapsiblebutton-name"><b>grouping:</b> {{result_dict["grouping"]}}</span>
                <span class="collapsiblebutton-name">
                    {% if result_dict["data_source"]["reference"]|length > 0 %}
                        <b>published</b>
                    {% endif %}
                </span>
                <span class="collapsiblebutton-vals">
                    {% for meas_ele in meas_results %}
                        <b>{{meas_ele["isotope"]}}</b>: {{meas_ele["value"][0]}}{{meas_ele["unit"]}}
                    {% endfor %}
                </span>
            </button>
            
            <div class="collapsible-content">
                <div class="collapsible-line">
                    <p class="collapsible-field">database id:</p>
                    <p class="collapsible-value">{{ result_dict["_id"] }}</p>
                </div>
                {% if result_dict["grouping"]|length > 0 %}
                    <div class="collapsible-line">
                        <p class="collapsible-field">grouping:</p>
                        <p class="collapsible-value">{{ result_dict["grouping"] }}</p>
                    </div>
                {% endif %}

                <!-- SAMPLE INFO -->
                <div>
                    {% if result_dict["sample"]["name"]|length > 0 or result_dict["sample"]["description"]|length > 0 or result_dict["sample"]["source"]|length > 0 %}
                        <div class="collapsible-line">
                            <p class="collapsible-field">sample info:</p>
                        </div>
                        
                        <div class="collapsible-subsection">                    
                            {% if result_dict["sample"]["name"]|length > 0 %}
                                <div class="collapsible-line">
                                    <p class="collapsible-field">name:</p>
                                    <p class="collapsible-value">{{ result_dict["sample"]["name"] }}</p>
                                </div>
                            {% endif %}
                            
                            {% if result_dict["sample"]["id"]|length > 0 %}
                                <div class="collapsible-line">
                                    <p class="collapsible-field">nid:</p>
                                    <p class="collapsible-value">{{ result_dict["sample"]["id"] }}</p>
                                </div>
                            {% endif %}
                            
                            {% if result_dict["sample"]["description"]|length > 0 %}
                                <div class="collapsible-line">
                                    <p class="collapsible-field">description:</p>
                                    <p class="collapsible-value">{{ result_dict["sample"]["description"] }}</p>
                                </div>
                            {% endif %}
                            
                            {% if result_dict["sample"]["source"]|length > 0 %}
                                <div class="collapsible-line">
                                    <p class="collapsible-field">source:</p>
                                    <p class="collapsible-value">{{ result_dict["sample"]["source"] }}</p>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

                <!-- DATA_SOURCE INFO (just reference) -->
                <div>
                    {% if result_dict["data_source"]["reference"]|length > 0 %}
                        <div class="collapsible-line">
                            <p class="collapsible-field">data reference (publication):</p>
                            <p class="collapsible-value">{{ result_dict["data_source"]["reference"] }}</p>
                        </div>
                    {% endif %}            
                </div>

                <!-- MEASUREMENT INFO -->
                <div>
                    <div class="collapsible-line">
                        <p class="collapsible-field">measurement info:</p>
                    </div>
                    
                    <div class="collapsible-subsection">
                        {% if result_dict["measurement"]["technique"]|length > 0 %}
                            <div class="collapsible-line">
                                <p class="collapsible-field">technique:</p>
                                <p class="collapsible-value">{{ result_dict["measurement"]["technique"] }}</p>
                            </div>
                        {% endif %}
                        
                        {% if result_dict["measurement"]["institution"]|length > 0 %}
                            <div class="collapsible-line">
                                <p class="collapsible-field">institution:</p>
                                <p class="collapsible-value">{{ result_dict["measurement"]["institution"] }}</p>
                            </div>
                        {% endif %}
                        
                        {% if result_dict["measurement"]["description"]|length > 0 %}
                            <div class="collapsible-line">
                                <p class="collapsible-field">description:</p>
                                <p class="collapsible-value">{{ result_dict["measurement"]["description"] }}</p>
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="collapsible-line">
                        <p class="collapsible-field">measurement values:</p>
                    </div>
                    
                    <div class="collapsible-subsection">
                        <!-- measurement results -->
                        {% for meas in meas_results %}
                            <div class="collapsible-line">
                                <p class="collapsible-value">{{ meas["isotope"] }}</p>
                                {% if meas["type"] == "measurement" %}
                                    {% if meas["value"]|length == 1 %}
                                        <p class="collapsible-field">value:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                    {% elif meas["value"]|length == 2 %}
                                        <p class="collapsible-field">value:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                        <p class="collapsible-field">symmetric error:</p>
                                        <p class="collapsible-value">{{ meas["value"][1] }} {{ meas["unit"] }}</p>
                                    {% elif meas["value"]|length == 3 %}
                                        <p class="collapsible-field">value:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                        <p class="collapsible-field">symmetric error:</p>
                                        <p class="collapsible-value">{{ meas["value"][1] }} {{ meas["unit"] }}</p>
                                        <p class="collapsible-field">asymmetric error:</p>
                                        <p class="collapsible-value">{{ meas["value"][2] }} {{ meas["unit"] }}</p>
                                    {% endif %}

                                {% elif meas["type"] == "limit" %}
                                    {% if meas["value"]|length == 1 %}
                                        <p class="collapsible-field">less than:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                    {% elif meas["value"]|length == 2 %}
                                        <p class="collapsible-field">less than:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                        <p class="collapsible-field">confidence:</p>
                                        <p class="collapsible-value">{{ meas["value"][1] }}%</p>
                                    {% endif %}

                                {% elif meas["type"] == "range" %}
                                    {% if meas["value"]|length == 1 %}
                                        <p class="collapsible-field">greater than:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                    {% elif meas["value"]|length == 2 %}
                                        <p class="collapsible-field">greater than:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                        <p class="collapsible-field">less than:</p>
                                        <p class="collapsible-value">{{ meas["value"][1] }} {{ meas["unit"] }}</p>
                                    {% elif meas["value"]|length == 3 %}
                                        <p class="collapsible-field">greater than:</p>
                                        <p class="collapsible-value">{{ meas["value"][0] }} {{ meas["unit"] }}</p>
                                        <p class="collapsible-field">less than:</p>
                                        <p class="collapsible-value">{{ meas["value"][1] }} {{ meas["unit"] }}</p>
                                        <p class="collapsible-field">confidence:</p>
                                        <p class="collapsible-value">{{ meas["value"][2] }}%</p>
                                    {% endif %}
                                    
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- PEOPLE INFO -->
                <div>
                    <!-- data input -->
                    <div class="collapsible-line">
                        {% if result_dict["data_source"]["input"]["name"]|length > 0 and result_dict["data_source"]["input"]["contact"]|length > 0 %}
                            <p class="collapsible-field">data input:</p>
                            <p class="collapsible-value">{{result_dict["data_source"]["input"]["name"]}} </p>
                            <p class="collapsible-field">contact:</p>
                            <p class="collapsible-value">{{result_dict["data_source"]["input"]["contact"]}} </p>
                        {% elif result_dict["data_source"]["input"]["name"]|length > 0 %}
                            <p class="collapsible-field">data input:</p>
                            <p class="collapsible-value">{{result_dict["data_source"]["input"]["name"]}} </p>
                        {% endif %}
                        {% if result_dict["data_source"]["input"]["date"]|length == 1 %}
                            <p class="collapsible-field">data input date:</p>
                            <p class="collapsible-value">{{ result_dict["data_source"]["input"]["date"][0] }}</p>
                        {% elif result_dict["data_source"]["input"]["date"]|length == 2 %}
                            <p class="collapsible-field">data input date range:</p>
                            <p class="collapsible-value">{{ result_dict["data_source"]["input"]["date"][0] }} - {{ result_dict["data_source"]["input"]["date"][1] }}</p>
                        {% endif %}
                        {% if result_dict["data_source"]["input"]["notes"]|length > 0 %}
                            <p class="collapsible-field">notes:</p>
                            <p class="collapsible-value">{{result_dict["data_source"]["input"]["notes"]}} </p> 
                        {% endif %}
                    </div>
                    
                    <!-- measurement practitioner -->
                    <div class="collapsible-line">
                        {% if result_dict["measurement"]["practitioner"]["name"]|length > 0 and result_dict["measurement"]["practitioner"]["contact"]|length > 0 %}
                            <p class="collapsible-field">measurement practitioner:</p>
                            <p class="collapsible-value">{{result_dict["measurement"]["practitioner"]["name"]}} </p>
                            <p class="collapsible-field">contact:</p>
                            <p class="collapsible-value">{{result_dict["measurement"]["practitioner"]["contact"]}} </p>
                        {% elif result_dict["measurement"]["practitioner"]["name"]|length > 0 %}
                            <p class="collapsible-field">measurement practitioner:</p>
                            <p class="collapsible-value">{{result_dict["measurement"]["practitioner"]["name"]}} </p>
                        {% endif %}
                        {% if result_dict["measurement"]["date"]|length == 1 and result_dict["measurement"]["date"][0]|length > 0 %}
                            <p class="collapsible-field">measurement date:</p>
                            <p class="collapsible-value">{{ result_dict["measurement"]["date"][0] }}</p>
                        {% elif result_dict["measurement"]["date"]|length == 2 and result_dict["measurement"]["date"][0]|length > 0 and result_dict["measurement"]["date"][1]|length > 0 %}
                            <p class="collapsible-field">measurement date range:</p>
                            <p class="collapsible-value">{{ result_dict["measurement"]["date"][0] }} - {{ result_dict["measurement"]["date"][1] }}</p>
                        {% endif %}
                    </div>
                    
                    <!-- measurement requestor -->
                    <div class="collapsible-line">
                        {% if result_dict["measurement"]["requestor"]["name"]|length > 0 and result_dict["measurement"]["requestor"]["contact"]|length > 0 %}
                            <p class="collapsible-field">measurement requestor:</p>
                            <p class="collapsible-value">{{result_dict["measurement"]["requestor"]["name"]}} </p>
                            <p class="collapsible-field">contact:</p>
                            <p class="collapsible-value">{{result_dict["measurement"]["requestor"]["contact"]}} </p>
                        {% elif result_dict["measurement"]["requestor"]["name"]|length > 0 %}
                            <p class="collapsible-field">measurement requestor:</p>
                            <p class="collapsible-value">{{result_dict["measurement"]["requestor"]["name"]}} </p>
                        {% endif %}
                    </div>
                    
                    <!-- sample owner -->
                    <div class="collapsible-line">
                        {% if result_dict["sample"]["owner"]["name"]|length > 0 and result_dict["sample"]["owner"]["contact"]|length > 0 %}
                            <p class="collapsible-field">sample owner:</p>
                            <p class="collapsible-value">{{result_dict["sample"]["owner"]["name"]}} </p>
                            <p class="collapsible-field">contact:</p>
                            <p class="collapsible-value">{{result_dict["sample"]["owner"]["contact"]}} </p>
                        {% elif result_dict["sample"]["owner"]["name"]|length > 0 %}
                            <p class="collapsible-field">sample owner:</p>
                            <p class="collapsible-value">{{result_dict["sample"]["owner"]["name"]}} </p>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        {% endfor %}
    {% endif %}
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

</body>
</html>

