<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript_funcs.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>

<!-- display logos for snolab, pnnl, and radiopurity -->
<div class="logo-container">
    <a href="https://www.pnnl.gov/" target="_blank">
        <img id="pnnl-logo-link" src="{{ url_for('static', filename='logos/pnnl_logo.png') }}"/>
    </a>
</div>
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/radiopurity_logo.png') }}"/>
</div>
<div class="logo-container">
    <a href="https://www.snolab.ca/" target="_blank">
        <img id="snolab-logo-link" src="{{ url_for('static', filename='logos/snolab_logo.png') }}"/>
    </a>
</div>

<!-- links to other pages on the site -->                                             
<div>                                                                                 
    <a href="{{ url_for('about_endpoint') }}"><button class="logout-link">about</button></a>
    <a href="{{ url_for('simplesearch_endpoint') }}"><button class="pages">search</button></a>
    <a href="{{ url_for('search_endpoint') }}"><button class="pages">advanced search</button></a>
    <a href="{{ url_for('insert_endpoint') }}"><button class="pages">insert</button></a>   
    <a href="{{ url_for('update_endpoint') }}"><button class="pages">update</button></a>
    <a href="{{ url_for('logout_endpoint') }}"><button class="logout-link" onclick="performLogout()">logout</button></a>
</div>

<h1>Document Update Assistant</h1>

<!--<h3>documents are updated in the {{db_name}} database</h3>-->

<div>
    <div class="logo-container right-aligned">
        <img src="{{ url_for('static', filename='logos/conversion_chart.png') }}"/>
    </div>
    <div class="clear-float">
</div>

{% if doc_data == False %}
    {% if message|length %}
        <h3>{{message}}</h3>
    {% endif %}
    
    <form action="{{ url_for('update_endpoint') }}" method="POST">
        <div class="section-container">
            <h3>document ID: <input id="doc-id-input" type="text" name="doc_id"></h3>
        </div>
        <button id="find-doc-button" class="normal-button" type="submit" name="submit_button" value="find_doc">find doc</button>
    </form>
{% endif %}


{% if doc_data %}
    <form action="{{ url_for('update_endpoint') }}" method="POST">
        <div class="section-container">
            <div id="input-section">
                <div class="section-container">
                    <p class="normal-text">doc id:
                        <textarea class="false-textarea" name="current_doc_id" rows="1" cols="50" readonly>{{doc_id}}</textarea>
                    </p>
                </div>

                <div class="section-container">
                    <span>
                        <input id="remove-checkbox-ele" class="remove-checkbox" type="checkbox" name="remove.doc" value="remove">
                    </span>
                    <span>
                        <p class="info">remove entire document</p>
                    </span>
                </div>
                
                <div>
                    <span>
                        <p class="normal-text">grouping: <input type="text" name="grouping"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{grouping}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.grouping" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>

                <h3>sample:</h3>
                <div>
                    <span>
                        <p class="normal-text">sample name: <input type="text" name="sample.name"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{sample_name}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.sample.name" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">sample description: <input type="text" name="sample.description"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{sample_description}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.sample.description" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">sample source: <input type="text" name="sample.source"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{sample_source}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.sample.source" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">sample id: <input type="text" name="sample.id"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{sample_id}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.sample.id" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">sample owner name: <input type="text" name="sample.owner.name"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{sample_owner_name}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.sample.owner.name" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">sample owner contact: <input type="text" name="sample.owner.contact"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{sample_owner_contact}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.sample.owner.contact" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>

                <h3>data input</h3>
                <div>
                    <span>
                        <p class="normal-text">data reference: <input type="text" name="data_source.reference"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{data_reference}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.data_source.reference" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">data input name (non-modifiable): <input type="text" readonly value="{{username}}" name="data_source.input.name"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{data_input_name}}</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">data input contact: <input type="text" name="data_source.input.contact"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{data_input_contact}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.data_source.input.contact" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">data input date (non-modifiable): <input type="text" readonly value="{{data_insert_date}}" name="data_source.input.date"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{data_input_date}}</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">data input notes: <input type="text" name="data_source.input.notes"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{data_input_notes}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.data_source.input.notes" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>

                <h3>measurement</h3>
                <div>
                    <span>
                        <p class="normal-text">measurement practitioner name: <input type="text" name="measurement.practitioner.name"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{measurement_practitioner_name}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.measurement.practitioner.name" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">measurement practitioner contact: <input type="text" name="measurement.practitioner.contact"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{measurement_practitioner_contact}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.measurement.practitioner.contact" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">measurement technique: <input type="text" name="measurement.technique"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{measurement_technique}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.measurement.technique" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">measurement institution: <input type="text" name="measurement.institution"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{measurement_institution}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.measurement.institution" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">measurement date: 
                            <span class="invalid-field-tooltip" id="invalid-meas-date-tooltip">
                                <input type="text" name="measurement.date" onKeyup="tryEnableSubmit()">
                                <span class="invalid-field-tooltip-text info" id="invalid-meas-date-tooltip-text">invalid date format</span>
                            </span>
                        </p>

                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.measurement.date" value="remove">
                    </span>
                    <span>
                        <p class="info">remove all dates</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">measurement description: <input type="text" name="measurement.description"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{measurement_description}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.measurement.description" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">measurement requestor name: <input type="text" name="measurement.requestor.name"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{measurement_requestor_name}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.measurement.requestor.name" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="normal-text">measurement requestor contact: <input type="text" name="measurement.requestor.contact"></p>
                    </span>
                    <span>
                        <p class="info">current value: {{measurement_requestor_contact}}</p>
                    </span>
                    <span>
                        <input class="remove-checkbox" type="checkbox" name="remove.measurement.requestor.contact" value="remove">
                    </span>
                    <span>
                        <p class="info">remove</p>
                    </span>
                </div>

                <h3>measurement results</h3>
                {% for i in range(measurement_results|length) %}
                    <h5>result</h5>
                    <div>
                        <span>
                            <!--<p class="normal-text">isotope: <input type="text" name="measurement.results.isotope{{i+1}}" onKeyup="tryEnableSubmit()"></p>-->
                            <p class="normal-text">isotope: 
                                <span class="invalid-field-tooltip" id="invalid-isotope{{i+1}}-tooltip">
                                    <input type="text" name="measurement.results.isotope{{i+1}}" onKeyup="tryEnableSubmit()">
                                    <span class="invalid-field-tooltip-text info" id="invalid-isotope{{i+1}}-tooltip-text">invalid isotope</span>
                                </span>
                            </p>
                        </span>
                        <span>
                            <p class="info">current value: <textarea class="false-textarea" name="current.measurement.results.isotope{{i+1}}" rows="1" cols="50" readonly>{{measurement_results[i]["isotope"]}}</textarea></p>
                        </span>
                        <span>
                            <input class="remove-checkbox" type="checkbox" name="remove.measurement.results.isotope{{i+1}}" value="remove">
                        </span>
                        <span>
                            <p class="info">remove</p>
                        </span>
                    </div>
                    <div>
                        <span>
                            <p class="normal-text">measurement type: 
                                <select name="measurement.results.type{{i+1}}">
                                    <option value="measurement" {% if measurement_results[i]["type"] == "measurement" %} selected="selected"{% endif %}>measurement</option>
                                    <option value="limit" {% if measurement_results[i]["type"] == "limit" %} selected="selected"{% endif %}>limit</option>
                                    <option value="range" {% if measurement_results[i]["type"] == "range" %} selected="selected"{% endif %}>range</option>
                                </select>
                            </p>
                        </span>
                        <span>
                            <p class="info">current value: <textarea class="false-textarea" name="current.measurement.results.type{{i+1}}" rows="1" cols="50" readonly>{{measurement_results[i]["type"]}}</textarea></p>
                        </span>
                        <span>
                            <input class="remove-checkbox" type="checkbox" name="remove.measurement.results.type{{i+1}}" value="remove">
                        </span>
                        <span>
                            <p class="info">remove</p>
                        </span>
                    </div>
                    <div>
                        <span>
                            <p class="normal-text">units: 
                                <select name="measurement.results.unit{{i+1}}">
                                    <option value="Bq/kg" {% if measurement_results[i]["unit"] == "Bq/kg" %} selected="selected"{% endif %}>Bq/kg</option>
                                    <option value="mBq/kg" {% if measurement_results[i]["unit"] == "mBq/kg" %} selected="selected"{% endif %}>mBq/kg</option>
                                </select>
                            </p>
                        </span>
                        <span>
                            <p class="info">current value: <textarea class="false-textarea" name="current.measurement.results.unit{{i+1}}" rows="1" cols="50" readonly>{{measurement_results[i]["unit"]}}</textarea></p>
                        </span>
                        <span>
                            <input class="remove-checkbox" type="checkbox" name="remove.measurement.results.unit{{i+1}}" value="remove">
                        </span>
                        <span>
                            <p class="info">remove</p>
                        </span>
                    </div>
                    <div>
                        <span>
                            <span class="fourths-container">
                                <p class="normal-text">value(s):</p> 
                            </span>
                            <span class="fourths-container">
                                <div>
                                    <input type="text" name="measurement.results.valueA{{i+1}}">
                                    <p class="info">if type is "measurement" this is the central value. If type is "limit" this is the upper limit. If type is "range" this is the lower bound.</p>
                                    <p class="info">current value: <textarea class="false-textarea" name="current.measurement.results.valueA{{i+1}}" rows="1" cols="10" readonly>{{measurement_results[i]["value"][0]}}</textarea></p>
                                    <span>
                                        <input class="remove-checkbox" type="checkbox" name="remove.measurement.results.valueA{{i+1}}" value="remove">
                                    </span>
                                    <span>
                                        <p class="info">remove</p>
                                    </span>
                                </div>
                            </span>
                            <span class="fourths-container">
                                <div>
                                    <input type="text" name="measurement.results.valueB{{i+1}}">
                                    <p class="info">if type is "measurement" this is the symmetric error. If type is "limit" this is the confidence level. If type is "range" this is the upper bound.</p>
                                    <p class="info">current value: <textarea class="false-textarea" name="current.measurement.results.valueB{{i+1}}" rows="1" cols="10" readonly>{{measurement_results[i]["value"][1]}}</textarea></p>
                                    <span>
                                        <input class="remove-checkbox" type="checkbox" name="remove.measurement.results.valueB{{i+1}}" value="remove">
                                    </span>
                                    <span>
                                        <p class="info">remove</p>
                                    </span>
                                </div>
                            </span>
                            <span class="fourths-container">
                                <div>
                                    <input type="text" name="measurement.results.valueC{{i+1}}">
                                    <p class="info">if type is "measurement" this is the asymmetric error. If type is "limit" no value is required. If type is "range" this is the confidence level.</p>
                                    <p class="info">current value: <textarea class="false-textarea" name="current.measurement.results.valueC{{i+1}}" rows="1" cols="10" readonly>{{measurement_results[i]["value"][2]}}</textarea></p>
                                    <span>
                                        <input class="remove-checkbox" type="checkbox" name="remove.measurement.results.valueC{{i+1}}" value="remove">
                                    </span>
                                    <span>
                                        <p class="info">remove</p>
                                    </span>
                                </div>
                            </span>
                        </span>
                    </div>
                    <div>
                        <span>
                            <input class="remove-checkbox" type="checkbox" name="remove.measurement.results{{i+1}}" value="remove">
                        </span>
                        <span>
                            <p class="info">remove entire existing measurement result</p>
                        </span>
                    </div>
                {% endfor %}
            </div> <!-- END OF div id "input-section"  -->
            <div>
                <span>
                    <button id="add-meas-button" class="normal-button" type="button">add new measurement result</button>
                </span>
                <span>
                    <button id="remove-meas-button" class="normal-button" type="button">remove new measurement result</button>
                </span>
            </div>
        </div>

        <div class="section-container">
            <button id="update-doc-button" class="submit-button" type="submit" name="submit_button" value="update_doc">update doc</button>
        <div class="section-container">
        
    </form>
{% endif %}



<script>
    var counter = 1;
    var button = document.getElementById("add-meas-button");
    button.addEventListener('click', function () {
        var measStr = '<h5>additional result</h5>'
        measStr += '<p class="normal-text">isotope: <span class="invalid-field-tooltip" id="invalid-isotope' + (counter+1) + '-tooltip"><input type="text" name="measurement.results.isotope' + (counter+1) + '" onKeyup="tryEnableSubmit()"><span class="invalid-field-tooltip-text info" id="invalid-isotope' + (counter+1) + '-tooltip-text">invalid isotope</span></span></p>'
        //measStr += '<div><span><p class="normal-text">isotope: <input type="text" name="measurement.results.isotope' + counter + '" onKeyup="tryEnableSubmit()"></p></span></div>'
        measStr += '<div><span><p class="normal-text">measurement type: <select name="measurement.results.type' + counter + '"><option value="measurement">measurement</option>'
        measStr += '<option value="limit">limit</option><option value="range">range</option></select></p></span></div>'
        measStr += '<div><span><p class="normal-text">units: <select name="measurement.results.unit' + counter + '">'
        measStr += '<option value="Bq/kg">Bq/kg</option><option value="mBq/kg">mBq/kg</option></select></p></span></div>'
        measStr += '<div><span><span class="fourths-container"><p class="normal-text">value(s):</p></span>'
        measStr += '<span class="fourths-container"><div><input type="text" name="measurement.results.valueA' + counter + '">'
        measStr += '<p class="info">if type is "measurement" this is the central value. If type is "limit" this is the upper limit. If type is "range" this is the lower bound. </p></div></span>'
        measStr += '<span class="fourths-container"><div><input type="text" name="measurement.results.valueB' + counter + '">'
        measStr += '<p class="info">if type is "measurement" this is the symmetric error. If type is "limit" this is the confidence level. If type is "range" this is the upper bound. </p></div></span>'
        measStr += '<span class="fourths-container"><div><input type="text" name="measurement.results.valueC' + counter + '">'
        measStr += '<p class="info">if type is "measurement" this is the asymmetric error. If type is "limit" no value is required. If type is "range" this is the confidence level. </p></div></span>'
        measStr += '</span></div>'
        var newMeas = document.createElement('div');
        newMeas.setAttribute('id', 'new-meas-ele-'+counter);
        newMeas.innerHTML = measStr;

        var input_section = document.getElementById("input-section");
        input_section.appendChild(newMeas);

        counter++;
    });

    var remove_button = document.getElementById("remove-meas-button")
    remove_button.addEventListener('click', function() {
        counter--;
        console.log('new-meas-ele-'+counter);
        var removeDiv = document.getElementById('new-meas-ele-'+counter);
        removeDiv.parentNode.removeChild(removeDiv);
    });

</script>

</body>
</html>

