<!DOCTYPE html>
<html>

<head>
    <title>XIA Update</title>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript_funcs.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>

<!-- display logos for snolab, pnnl, and radiopurity -->
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/pnnl_logo.png') }}"/>
</div>
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/radiopurity_logo.png') }}"/>
</div>
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/snolab_logo.png') }}"/>
</div>

<!-- documentation link -->
<div>
    <a class="normal-text github-link" href="{{ url_for('static', filename='docs/html/index.html') }}" target="_blank">documentation</a>
</div>
<div class="clear-float"></div>

<!-- github link -->
<div>
    <a class="github-link" href="https://github.com/pnnl/Radiopurity-database-assistant" target="_blank" rel="noopener noreferrer">
        <img class="github-logo" src="{{ url_for('static', filename='logos/github_logo.png') }}" alt="GitHub logo">
    </a>
</div>
<div class="clear-float"></div>

<!-- links to other pages on the site -->                                             
<div>                                                                                 
    <a href="{{ url_for('about_endpoint') }}"><button class="logout-link">about</button></a>
    <a href="{{ url_for('simplesearch_endpoint') }}"><button class="pages">search</button></a>
    <a href="{{ url_for('xia_insert_endpoint') }}"><button class="pages">insert</button></a>   
    <a href="{{ url_for('update_endpoint') }}"><button class="pages">update</button></a>
    <a href="{{ url_for('logout') }}"><button class="logout-link">logout</button></a> 
</div>

<h1>Document Update Assistant</h1>

<!--<h3>documents are updated in the {{db_name}} database</h3>-->

<div>
    <div class="logo-container right-aligned">
        <img src="{{ url_for('static', filename='logos/conversion_chart.png') }}"/>
    </div>
    <div class="clear-float">
</div>

{% if doc_data == False %}
    {% if message|length %}
        <h3>{{message}}</h3>
    {% endif %}
    
    <form action="{{ url_for('update_endpoint') }}" method="POST">
        <div class="section-container">
            <h3>document ID: <input id="doc-id-input" type="text" name="doc_id"></h3>
        </div>
        <button id="find-doc-button" class="normal-button" type="submit" name="submit_button" value="find_doc">find doc</button>
    </form>
{% endif %}


{% if doc_data %}
    <form action="{{ url_for('update_endpoint') }}" method="POST">
        <div class="section-container">
            <div id="input-section">
                <div class="section-container">
                    <p class="normal-text">doc id:
                        <textarea class="false-textarea" name="current_doc_id" rows="1" cols="50" readonly>{{doc_id}}</textarea>
                    </p>
                </div>

                <div class="section-container">
                    <span>
                        <input id="remove-checkbox-ele" class="remove-checkbox" type="checkbox" name="remove.doc" value="remove">
                    </span>
                    <span>
                        <p class="info">remove entire document</p>
                    </span>
                </div>
                {% for key in parent_doc.keys() %}
                    {% if key == "Energy Range (MeV)" %}
                        <div class="collapsible-line">
                            <p class="collapsible-field">Energy Range (MeV): </br></p>
                        </div>
                        {% for range in parent_doc[key].keys() %}
                            <div class="collapsible-line">
                                    <p class="collapsible-field"> {{ range }}: </p>

                                    {% for field in (parent_doc["Energy Range (MeV)"][range]).keys() %}
                                        <div>
                                            <span>
                                                <p class="normal-text">{{field}}: <input type="text" name="{{name_doc[key][range][field]}}"></p>
                                            </span>
                                            <span>
                                                <p class="info" name="{{current_name_doc[key][range][field]}}">current value: {{parent_doc[key][range][field]}}</p>									
                                            </span>
                                            <span>
                                                <input class="remove-checkbox" type="checkbox" name="{{remove_name_doc[key][range][field]}}" value="remove">
                                            </span>
                                            <span>
                                                <p class="info">remove</p>
                                            </span>
                                        </div>
                                    {% endfor %}

                                </div>
                        {% endfor %}
                    {% elif key not in ["_id", "_version", "_parent_id"] %}
                        <div>
                            <span>
                                <p class="normal-text">{{ key }}: <input type="text" name="{{name_doc[key]}}"><p>
                            </span>
                            <span>
                                <p class="info" name="{{current_name_doc[key]}}">current value: {{parent_doc[key]}}</p>
                            </span>
                            <span>
                                <input class="remove-checkbox" type="checkbox" name="{{remove_name_doc[key]}}" value="remove">
                            </span>
                            <span>
                                <p class="info">remove</p>
                            </span>
                        </div>
                    {% endif %}
                {% endfor %}

        </div>

        <div class="section-container">
            <button id="update-doc-button" class="submit-button" type="submit" name="submit_button" value="update_doc">update doc</button>
        <div class="section-container">
        
    </form>
{% endif %}



<script>
    var counter = 1;
    var button = document.getElementById("add-meas-button");
    button.addEventListener('click', function () {
        var measStr = '<h5>additional result</h5>'
        measStr += '<div><span><p class="normal-text">isotope: <input type="text" name="measurement.results.isotope' + counter + '" onKeyup="validateForm()"></p></span></div>'
        measStr += '<div><span><p class="normal-text">measurement type: <select name="measurement.results.type' + counter + '"><option value="measurement">measurement</option>'
        measStr += '<option value="limit">limit</option><option value="range">range</option></select></p></span></div>'
        measStr += '<div><span><p class="normal-text">units: <select name="measurement.results.unit' + counter + '">'
        measStr += '<option value="pct">percent by mass</option><option value="g/g">g/g</option><option value="ppm">ppm</option><option value="ppb">ppb</option><option value="ppt">ppt</option><option value="ppq">ppq (quadrillion)</option>'
        measStr += '<option value="g">g</option><option value="mg">mg</option><option value="ug">ug (micrograms)</option><option value="ng">ng</option><option value="pg">pg</option><option value="Bq">Bq</option><option value="mBq">mBq</option>'
        measStr += '<option value="uBq">uBq</option><option value="nBq">nBq</option><option value="pBq">pBq</option><option value="g/kg">g/kg</option><option value="g/cm">g/cm</option><option value="g/m">g/m</option>'
        measStr += '<option value="g/cm2">g/cm2 (squared)</option><option value="g/m2">g/m2</option><option value="g/cm3">g/cm3 (cubed)</option><option value="g/m3">g/m3</option><option value="mg/kg">mg/kg</option>'
        measStr += '<option value="mg/cm">mg/cm</option><option value="mg/m">mg/m</option><option value="mg/cm2">mg/cm2 (squared)</option><option value="mg/m2">mg/m2</option><option value="mg/cm3">mg/cm3 (cubed)</option>'
        measStr += '<option value="mg/m3">mg/m3</option><option value="ug/kg">ug/kg</option><option value="ug/cm">ug/cm</option><option value="ug/m">ug/m</option><option value="ug/cm2">ug/cm2 (squared)</option>'
        measStr += '<option value="ug/m2">ug/m2</option><option value="ug/cm3">ug/cm3 (cubed)</option><option value="ug/m3">ug/m3</option><option value="ng/kg">ng/kg</option><option value="ng/cm">ng/cm</option>'
        measStr += '<option value="ng/m">ng/m</option><option value="ng/cm2">ng/cm2 (squared)</option><option value="ng/m2">ng/m2</option><option value="ng/cm3">ng/cm3 (cubed)</option><option value="ng/m3">ng/m3</option>'
        measStr += '<option value="pg/kg">pg/kg</option><option value="pg/cm">pg/cm</option><option value="pg/m">pg/m</option><option value="pg/cm2">pg/cm2 (squared)</option><option value="pg/m2">pg/m2</option>'
        measStr += '<option value="pg/cm3">pg/cm3 (cubed)</option><option value="pg/m3">pg/m3</option><option value="Bq/kg">Bq/kg</option><option value="Bq/cm">Bq/cm</option><option value="Bq/m">Bq/m</option>'
        measStr += '<option value="Bq/cm2">Bq/cm2 (squared)</option><option value="Bq/m2">Bq/m2</option><option value="Bq/cm3">Bq/cm3 (cubed)</option><option value="Bq/m3">Bq/m3</option><option value="mBq/kg">mBq/kg</option>'
        measStr += '<option value="mBq/cm">mBq/cm</option><option value="mBq/m">mBq/m</option><option value="mBq/cm2">mBq/cm2 (squared)</option><option value="mBq/m2">mBq/m2</option><option value="mBq/cm3">mBq/cm3 (cubed)</option>'
        measStr += '<option value="mBq/m3">mBq/m3</option><option value="uBq/kg">uBq/kg</option><option value="uBq/cm">uBq/cm</option><option value="uBq/m">uBq/m</option><option value="uBq/cm2">uBq/cm2 (squared)</option>'
        measStr += '<option value="uBq/m2">uBq/m2</option><option value="uBq/cm3">uBq/cm3 (cubed)</option><option value="uBq/m3">uBq/m3</option><option value="nBq/kg">nBq/kg</option><option value="nBq/cm">nBq/cm</option>'
        measStr += '<option value="nBq/m">nBq/m</option><option value="nBq/cm2">nBq/cm2 (squared)</option><option value="nBq/m2">nBq/m2</option><option value="nBq/cm3">nBq/cm3 (cubed)</option><option value="nBq/m3">nBq/m3</option>'
        measStr += '<option value="pBq/kg">pBq/kg</option><option value="pBq/cm">pBq/cm</option><option value="pBq/m">pBq/m</option><option value="pBq/cm2">pBq/cm2 (squared)</option><option value="pBq/m2">pBq/m2</option>'
        measStr += '<option value="pBq/cm3">pBq/cm3 (cubed)</option><option value="pBq/m3">pBq/m3</option></select></p></span></div>'
        measStr += '<div><span><span class="fourths-container"><p class="normal-text">value(s):</p></span>'
        measStr += '<span class="fourths-container"><div><input type="text" name="measurement.results.valueA' + counter + '">'
        measStr += '<p class="info">if type is "measurement" this is the central value. If type is "limit" this is the upper limit. If type is "range" this is the lower bound. </p></div></span>'
        measStr += '<span class="fourths-container"><div><input type="text" name="measurement.results.valueB' + counter + '">'
        measStr += '<p class="info">if type is "measurement" this is the symmetric error. If type is "limit" this is the confidence level. If type is "range" this is the upper bound. </p></div></span>'
        measStr += '<span class="fourths-container"><div><input type="text" name="measurement.results.valueC' + counter + '">'
        measStr += '<p class="info">if type is "measurement" this is the asymmetric error. If type is "limit" no value is required. If type is "range" this is the confidence level. </p></div></span>'
        measStr += '</span></div>'
        var newMeas = document.createElement('div');
        newMeas.setAttribute('id', 'new-meas-ele-'+counter);
        newMeas.innerHTML = measStr;

        var input_section = document.getElementById("input-section");
        input_section.appendChild(newMeas);

        counter++;
    });

    var remove_button = document.getElementById("remove-meas-button")
    remove_button.addEventListener('click', function() {
        counter--;
        console.log('new-meas-ele-'+counter);
        var removeDiv = document.getElementById('new-meas-ele-'+counter);
        removeDiv.parentNode.removeChild(removeDiv);
    });

</script>

</body>
</html>

