/* dark blue:   #28487a */

/* light blue:  #7aa5eb */
/* dark gray:   #6c6d70 */
/* light gray:  #abaeb3 */
/* lightest gray: #e1e3e6 */
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #7aa5eb;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #28487a;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #28487a;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  color: #28487a;
  font-size: 12pt;
}

span {
  display: inline-block; /* display block elements in one line */
  padding: 5px;
  vertical-align: top;
}

textarea {
  padding: 2px;
  resize: none;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif; 
}

select {
  padding:2px;
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  font-family: Arial, Helvetica, sans-serif;
  color: #abaeb3;
  font-size: 10pt;
  padding: 5px;
  margin: 0;
}

.normal-text {
  margin: 0;
  margin-left: 15px;
  color: #6c6d70;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
}

.pages, .logout-link {
  width: 14%;
  background-color: #e1e3e6;
  display: inline-block;
  color: black;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.logout-link {
  background-color: #abaeb3;
}

.github-link {
  text-align: right;
  float: right;
}
.github-logo {
  width: 10%;
  margin:0;
}

.section-container {
  margin-top: 35px;
  margin-bottom: 35px;
}

.centered-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.left-aligned {
  float: left;
}

.right-aligned {
  float: right;
}

.clear-float {
  clear: both;
}

.false-textarea {
  border: none;
  margin: 0;
  margin-left: 15px;
  color: #6c6d70;
}

.hidden-object {
  display: none;
}

.fourths-container {
  max-width: 25%;
}

/* button styling to make them not look like rectangles */
.normal-button {
  background-color: #abaeb3;
  font-size: 12pt;
}
.submit-button {
  background-color: #7aa5eb;
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
}
.normal-button, .submit-button {
  border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

/* collapsible styling for results */
.collapsible {
  background-color: #6c6d70;
  display:block;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.collapsiblebutton-name{
  display: inline-block;
  width: 25%;
}
.collapsiblebutton-vals{
  display: inline-block;
  width: 45%;
}
.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #e1e3e6;
}
.collapsible-line{
  margin-left: 25px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}
.collapsible-subsection{
  margin-left: 20px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0
}
.collapsible-field{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #6c6d70;
  font-size: 10pt;
  display: inline-block; /* display block elements in one line */
  vertical-align: top;
}
.collapsible-value{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 10pt;
  display: inline-block; /* display block elements in one line */
  vertical-align: top;
}

#query-help {
  display: none;
}

.logo-container {
  width: 32%;
  height: 150px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}
div > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  transform: translate(-50%, -50%);
}

.droparea {
	width:250px;
	height:200px;
	border:5px dashed black;
	color:#ccc;
	text-align: center;
}

.droparea--over{
    height: 200px;
    width: 250px;
	border: 5px solid black;
	background-color: gray;
	border-radius: 10px;
}

.droparea__input{
    height: 200px;
    width: 250px;
    border: 5px dashed black;
    text-align: center;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}

.droparea__prompt {
    color: #565656;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.file_msg{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}
