<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>

<!-- display logos for dune, pnnl, and radiopurity -->
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/dune_logo.png') }}"/>
</div>
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/pnnl_logo.png') }}"/>
</div>
<div class="logo-container">
    <img src="{{ url_for('static', filename='logos/radiopurity_logo.png') }}"/>
</div>


<div>
    <a href={{ url_for("logout") }}>
        <p class="logout-link">logout</p>
    </a>
</div>

<h1>Error:</h1>

<h3>You do not have the proper permissions to see the page you requested.</h3>

<div>
    <p class="info">{{msg}}</p>
</div>

</body>
</html>
