<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>

<h1>Query Assistant</h1>

<form action="/search" method="POST">
    {% if (num_q_lines > 0) %}
        <div class="section-container">
            <h3>CURRENT QUERY</h3>
            <textarea id="query-text" name="existing_query" rows="{{num_q_lines}}" cols="50" readonly>{{existing_query}}</textarea>
        </div>
    {% endif %}

    <div class="section-container">
        <div>
            <span>
                <h3>field:</h3>
                <select id="query_field" name="query_field">
                    <option value="grouping">grouping</option>
                    <option value="sample.name">sample.name</option>
                    <option value="sample.description">sample.description</option>
                    <option value="sample.source">sample.source</option>
                    <option value="sample.id">sample.id</option>
                    <option value="sample.owner.name">sample.owner.name</option>
                    <option value="sample.owner.contact">sample.owner.contact</option>
                    <option value="measurement.results.isotope">measurement.results.isotope</option>
                    <option value="measurement.results.symbol">measurement.results.symbol</option>
                    <option value="measurement.results.type">measurement.results.type</option>
                    <option value="measurement.results.unit">measurement.results.unit</option>
                    <option value="measurement.results.value">measurement.results.value</option>
                    <option value="measurement.practitioner.name">measurement.practitioner.name</option>
                    <option value="measurement.practitioner.contact">measurement.practitioner.contact</option>
                    <option value="measurement.technique">measurement.technique</option>
                    <option value="measurement.institution">measurement.institution</option>
                    <option value="measurement.date">measurement.date</option>
                    <option value="measurement.description">measurement.description</option>
                    <option value="measurement.description">measurement.requestor.name</option>
                    <option value="measurement.description">measurement.requestor.contact</option>
                    <option value="data_source.reference">source.reference</option>
                    <option value="data_source.input.name">source.input.name</option>
                    <option value="data_source.input.contact">source.input.contact</option>
                    <option value="data_source.input.date">source.input.date</option>
                    <option value="data_source.input.notes">source.input.notes</option>
                </select>
            </span>

            <span>
                <h3>comparison:</h3>
                <select id="comparison_operator" name="comparison_operator">
                    <option value="contains">contains</option>
                    <option value="notcontains">does not contain</option>
                    <option value="eq">equals</option>
                    <option value="lt">less than</option>
                    <option value="lte">less than or equal to</option>
                    <option value="gt">greater than</option>
                    <option value="gte">greater than or equal to</option>
                </select>
            </span>

            <span>
                <h3>value:</h3>
                <textarea name="query_value" rows="1" cols="15"></textarea>
            </span>
        </div>

        <div>
            <span>
                <button class="append-button" type="submit" name="append_button" value="do_and">AND</button>
            </span>
            <span>
                <button class="append-button" type="submit" name="append_button" value="do_or">OR</button/>
            </span>
            <span>
                <p class="info">add another query term</p>
            </span>
        </div>

        <div>
            <span>
                <input class="submit-button" type="submit" value="search">
            </span>
        </div>
    </div>
</form>

{% if final_q|length %}
    <div class="section-container">
        <h3>FINAL QUERY</h3>
        {% for final_q_line in final_q %}
            <p class="final-query-text">{{final_q_line}}</p>
        {% endfor %}
    </div>
{% endif %}

<div class="section-container">
    {% if results|length %}
        <h3>RESULTS</h3>
        <p class="info">num records: {{results|length}}</p>
        {% for result in results %}
            <button type="button" class="collapsible">{{result|truncate(100, True)}}</button>
            <div class="collapsible-content">
                <p class="collapsible-text">{{result}}</p>
            </div>
        {% endfor %}
    {% endif %}
</div>


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

</body>
</html>

